<style>
    .header {
        width: 100%;
        height: auto;
        background-color: #33db27;
        color: #000;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
    
    .search-bar {
       /* width: 100%;
        height: auto;*/
        background-color: #33db27;
        padding: 5px 0px;
        box-shadow: 0px 2px 3px #888888;
    }
    
    .banner .carousel-control {
        display: none;
    }
    
    .category {
        width: 100%;
        height: auto;
        background-color: #ddd;
        text-align: center;
        padding: 10px;
        /*cursor: pointer;*/
        cursor: default;
    }
    
    .image-caption {
        width: 100%;
        height: auto;
/*        background-color: #ddd;*/
        text-align: center;
        padding: 3px 0;
    }
    
    @media screen and (max-width: 320px) {
        .image-caption {
            font-size: 8px;
        }
    }
    
    @media screen and (max-width: 360px) and (min-width:320px) {
        .image-caption {
            font-size: 8px;
        }
    }
    
    @media screen and (max-width: 480px) and (min-width:360px) {
        .image-caption {
            font-size: 9px;
        }
    }

</style>

<div style="width:100%;height:auto" data-ng-init="init()">
    <div class="header">
        <div class="col-xs-8" style="margin-top: 20px">
        <div class="header-name">Handy Basket</div>
        </div>
        <div class="col-xs-4">
        
            <img id="orgimage1" src="images/yeoman.png" class="img-circle" alt="User Image" style="border:2px solid #01adfb; width: 60px;height: 60px">
                        <p style="color:#333;  font-size: 12px">
                            {{ORGname}}
                        </p>
        
        </div>
    </div>
    <div class="search-bar">
        <form class="form-horizontal" style="margin:0">
            <div class="form-group has-feedback" style="margin:0">
                <div class="col-xs-12">
                    <input type="text" class="form-control" placeholder="Search Products">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="banner">
        <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="width:100%;height:auto" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open($index)">
            </slide>
        </carousel>
    </div>
    <div class="category">
        <div><b>Shop By Category</b></div>
    </div>
    <!-- <div class="row" style="margin:0;" ng-show="showAll">
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/fruits-vegetables.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Fruits & Vegetables</span>
                </div>
            </a>
        </div>
<div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/grocery-staples.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Grocery & Staples</span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/bread-dairy-eggs.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Bread, Dairy & Eggs</span>
                </div>
            </a>
        </div>
    </div>
     
    <div class="row" style="margin:0;">
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/beverages.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Beverages</span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/fruits-vegetables.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Branded Food</span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/personal-care.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Personal Care</span>
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="margin:0;" ng-show="showAll">
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/household.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>House Hold</span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/imported-food.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Imported & Gourmet</span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/meat.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span>Meat</span>
                </div>
            </a>
        </div>
    </div>  --->

    <div class="row" style="margin:0">
        <table class="table table-striped">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td ng-model="Cat">
                        <div class="row">

                            <div ng-repeat="file in itemcategories|limitTo:mylimit" value="{{file.id}}">

                                <div class="col-xs-4" style="border:1px solid #ccc">
                                    <a href="/productList/{{file.id}}" style="text-decoration:none;color:#333">
                                        <div class="image-holder">

                                            <img src="images/handy-basket/fruits-vegetables.jpg" style="width:100%;height:auto">
                                             <!--src="{{file.catimage}}"-->
                                        </div>

                                        <div class="image-caption">
                                            <span><label style="font-weight:600;margin-top: 7px">{{ file.name}}</label></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   <!-- <div class="row" style="margin:0;" ng-show="showAll">
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/household.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span><label  style="font-weight:600;margin-top: 7px;">House Hold</label></span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/imported-food.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span><label  style="font-weight:600;margin-top: 7px;">Imported & Gourmet</label></span>
                </div>
            </a>
        </div>
        <div class="col-xs-4" style="border:1px solid #ccc;">
            <a href="/productList" style="text-decoration:none;color:#333;">
                <div class="image-holder">
                    <img src="images/handy-basket/meat.jpg" style="width:100%;height:auto;" />
                </div>
                <div class="image-caption">
                    <span><label  style="font-weight:600;margin-top: 7px;">Meat</label></span>
                </div>
            </a>
        </div>
    </div>-->
    <br>
    <div class="category" ng-click="showAll = showAll == true ? false : true;">
        <div><b ng-hide="showAll" ng-click="mylimitfun()">VIEW ALL CATEGORIES</b>
            <b ng-show="showAll" ng-click="mynewfun()">VIEW LESS</b></div>
    </div>
</div>

<!--by table -->
<!--    --->