<style>
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
    
    .dropdown-menu {
        max-height: 300px;
        width: 90%;
        overflow: auto;
    }
    
    .video {
        width: 100%;
        height: auto;
    }
    
    .slider-holder {
        width: 800px;
        height: 400px;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
    }
    
    .image-holder {
        width: 2400px;
        background-color: red;
        height: 400px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }
    
    .slider-image {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    
    #slider-image-1:target ~ .image-holder {
        left: 0px;
    }
    
    #slider-image-2:target ~ .image-holder {
        left: -800px;
    }
    
    #slider-image-3:target ~ .image-holder {
        left: -1600px;
    }
    
    .button-holder {
        position: relative;
        top: -20px;
    }
    
    .slider-change {
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background-color: brown;
    }
    
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 1px !important;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #d4c4b8 !important;
        border-radius: 0px !important;
    }
    
    .carousel-indicators .active {
        width: 12px;
        height: 1px !important;
        margin: 1px;
        background-color: #fff;
        border: 1px solid #fff !important;
    }
    
    .textshow {
        display: inline-flex;
        font-size: 20px;
        width: 12.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>







<div class="box box-info" style="height:auto;border-color:#2874f0" ng-controler="MapAddressCtrl">
        <div class="row" style="margin:0px">
            <div class="col-xs-10">
                <h4 class="textshow" style="color:#6c6c6c;padding:12px;margin:0px;padding-left:0px">{{Orgname}}</h4>
            </div>
            <div class="col-xs-2" style="padding-top :12px;color:#878787">
                <img src="images/cross-icon-web.png" ng-click="contactclose()">
            </div>
 </div>
            <div class="row" style="margin:0px 5px;padding-right:0px">
                    <div id="map" style="width:100%;height:300px"></div>
            </div>
        <br>
        <div class="row" style="margin:0px">
                <h4 style="color:#1f1e30;font-weight:600;padding:0px 16px">{{Contactname}} </h4>
            </div>
            <div class="row" style="margin:0px">
                <div class="col-xs-1">  <img src="images/layer_26.png" style="width:25px;padding: 5px"></div>
                <div class="col-xs-10">
                   
                    <p for="details" style="color:#888888">{{Addressone}} </p>
            </div>
    </div>
    <div class="row" style="margin:0px">
        <div class="col-xs-1"> <img src="images/planepaper.png" style="width:25px;padding: 5px"></div>
                <div class="col-xs-10">
                   
                    <p id="dvDistance" for="details" style="color:#888888"></p>
            </div>
    </div>
            <div class="row" style="margin:0px">
                <div class="col-xs-12" style="color:#888888">
                     <img src="images/layer_25.png" style="width:25px;padding: 5px">
                    <label for="details">{{Workinghour}}</label>
                </div>
            </div>
 
            <div class="row" style="margin:0px">
 
                <div class="col-xs-6" style="color:#888888">

                    <img src="images/layer_24.png" style="width:25px;padding: 5px">
                    <label for="details"> <a style="color:#888888" href="tel:{{Contactno}}">{{Contactno}}</a></label>

                </div>


                <div class="col-xs-4" style="color:#888888;margin-top:-15px">

<!--                    <button type="button" id="call" class="btn btn-success" style="background-color:#00d466; "  ng-click="opencontact()">Call Now</button>-->
                </div>

            </div>


       
    
</div>

<!--<modal1 title="map Details" visible="showModalMisCal2">
 
        <div class="row" style="margin:0px;">
            <div class="col-xs-8">
                <h4 style="color:#878787;font-size:30px;padding :12px">{{Orgname}}</h4>
            </div>

            <div class="col-xs-2" style="padding-top :27px;color:#878787">

            </div>

            <div class="row">

                <div class="col-xs-12 " style="box-shadow:0 5px 5px -5px #333; ">


                    <div id="map" style="width:100%;height:300px"></div>
                   
                </div>
            </div>

        </div>
        <br/>
        <br/>

        <div class="row">
            <div class="col-xs-8" style="margin-left:22px;">
                <h4 style="color:000000;font-weight:600; font-size:20px;">{{Contactname}} </h4>

            </div>

            <div class="row" style="padding-left:33px;;">
                <div class="col-xs-12">

                    <span class="glyphicon glyphicon-map-marker" style="color:#878787;"></span>

                    <label for="details" style="margin-left:10px;color:#878787; font-size:18px;">{{Addressone}}</label>

                </div>

            </div>

            <div class="row" style="padding-left:33px;">


                <div class="col-xs-12" style="color:#878787;">

                    <span class="glyphicon glyphicon-time"></span>

                    <label for="details" style="margin-left:10px; font-size:18px;">8am-10am</label>

                </div>

            </div>


            <div class="row" style="padding-left:33px;">

                <div class="col-xs-6" style="color:#878787;">

                    <span class="glyphicon glyphicon-earphone"></span>
                    <label for="details" style="margin-left:10px;font-size:18px;">{{Contactno}}</label>
                </div>


                <div class="col-xs-4" style="color:#878787;margin-top:-10px;">

                    <button type="button" id="call" class="btn btn-success" style="background-color:#00d466; margin-left: 30px;">Call Now</button>
                </div>

            </div>


        </div>
        
    </modal1>-->




<!--<script type="text/ng-template" id="template/contact-model.html">
    <div class="modal-body2">
        <span aria-hidden="true" class="closebtn" ng-click="contctclose()" style="float:right; "><img src="images/cross-icon-web.png" style="width:50px;hieght:50px;margin:10px;padding:10px;box-shadow: 0 0 4px 4px #e6e6e6;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
       
        <div class="row" style="margin:0px;">
            <div class="col-xs-8">
                <h4 style="color:#878787;font-size:30px;padding :12px">{{Orgname}}</h4>
            </div>

            <div class="col-xs-2" style="padding-top :27px;color:#878787">

               
            </div>

            <div class="row">

                <div class="col-xs-12 " style="box-shadow:0 5px 5px -5px #333; ">


                    <div id="map" style="width:100%;height:500px"></div>
                   
                </div>
            </div>

        </div>
        <br/>
        <br/>

        <div class="row">
            <div class="col-xs-8" style="margin-left:22px;">
                <h4 style="color:000000;font-weight:600; font-size:20px;">{{Contactname}} </h4>

            </div>

            <div class="row" style="padding-left:33px;;">
                <div class="col-xs-12">

                    <span class="glyphicon glyphicon-map-marker" style="color:#878787;"></span>

                    <label for="details" style="margin-left:10px;color:#878787; font-size:18px;">{{Addressone}}</label>

                </div>

            </div>

            <div class="row" style="padding-left:33px;">


                <div class="col-xs-12" style="color:#878787;">

                    <span class="glyphicon glyphicon-time"></span>

                    <label for="details" style="margin-left:10px; font-size:18px;">8am-10am</label>

                </div>

            </div>


            <div class="row" style="padding-left:33px;">

                <div class="col-xs-6" style="color:#878787;">

                    <span class="glyphicon glyphicon-earphone"></span>
                    <label for="details" style="margin-left:10px;font-size:18px;">{{Contactno}}</label>
                </div>


                <div class="col-xs-4" style="color:#878787;margin-top:-10px;">

                    <button type="button" id="call" class="btn btn-success" style="background-color:#00d466; margin-left: 30px;">Call Now</button>
                </div>

            </div>


        </div>
    </div>
</script>-->