<style>
    
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
</style>

<!--<script src="//maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyD3zq6e-BeWSf70mYQtsjfAOD8m6C_NQNc"></script>-->

<!--&callback=myMap-->
<!--<div id="floating-panel">
<b>Start: </b>
<select id="start">
  <option value="Reliance Mart, Bengaluru, Karnataka">arekere</option>
  <option value="IIM Bangalore, Bengaluru, Karnataka">IIMB</option>
  <option value="Dairy Circle Bus Stop, Hosur Main Road, Dairy Colony, Adugodi, Bengaluru, Karnataka">dairy cricle</option>
  <option value="Minakshi Mall, Bannerghatta Main Road, Kalena Agrahara, Bengaluru, Karnataka">minakshi</option>
 </select>
<b>End: </b>
<select id="end">
  <option value="Jayadeva Hospital Bus Stop, Bannerghatta Main Road, BTM Layout 1, Bengaluru, Karnataka">jaydeva bas stand</option>
  <option value="Silk Board Bus Stop, National Highway 44, HSR Layout, Bengaluru, Karnataka ">silk board</option>
  <option value="Gottigere, Bengaluru, Karnataka">gotikere</option>
  <option value="JP Nagar 7th Phase, Bengaluru, Karnataka ">jp nagar</option>
  <option value="Apollo Hospitals, Bengaluru, Karnataka ">Apollo hospital</option>
    </select>
    </div>-->
 
<div id="map" style="width:100%;height:500px"></div>

<!--****************************-->


&nbsp;
<div id="warnings-panel"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU8UnO38_C04rHwct2z-I6A99MIlCqFmU">
</script>
-->

<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU8UnO38_C04rHwct2z-I6A99MIlCqFmU&callback=initMap">
</script>
-->
<!--//&callback=initMap   key=AIzaSyApAyqRVFBcdmZ3B59sJsagz6uhrbR8xgw"  -->