<link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
    .landing-page {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
    }
    
    .header {
        width: 100%;
        height: auto;
        background-color: #1f1e30;
        padding: 12px;
        font-family: Lato;
    }
    
    .header h4 {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
    }
    
    .header span {
        color: #ffffff;
        margin: 0;
        font-size: 12px;
        font-family: Lato;
    }
    
    .sub-header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
    }
    
    .sub-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .banner .carousel-control {
        display: none;
    }
    
    .banner .carousel-indicators li {
        width: 25px !important;
        height: 5px !important;
        border-radius: 10px !important;
        cursor: pointer !important;
        background-color: transparent !important;
        margin: 1px !important;
    }
    
    .banner .carousel-indicators .active {
        background-color: #fff !important;
    }
    
    .vPages--default {
        margin-bottom: 0px !important;
        background-color: #eee !important;
        font-family: Lato;
    }
    
    v-tabs {
        margin-bottom: 0px !important;
        background-color: #fff !important;
        font-family: Lato;
        font-weight: bold;
    }
    
    v-tab {
        background-color: #fff !important;
    }
    
    v-tab.is-active {
        color: #1f1e30 !important;
    }
    
    .vTabs--default v-tab.is-active::after {
        background-color: #2687ff !important;
    }
    
    .vTabs--default v-tab:hover,
    .vTabs--default v-tab:focus {
        color: #2687ff;
    }
    
    .vTabs--default[horizontal] v-tab::after {
        width: 100%;
        height: 5px !important;
        bottom: 0;
    }
    
    .vTabs--default v-tab::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        background-color: #fff !important;
        -webkit-transition: background-color 0.5s 0.25s;
        transition: background-color 0.5s 0.25s;
    }
    
    .vTabs--default[horizontal] v-tab {
        padding: 20px;
    }
    
    .time-header {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding: 12px;
        font-family: Lato;
    }
    
    .time-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .products {
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    .product_description {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 12px;
        font-family: Lato;
    }
    
    .product_description h4 {
        color: #1f1e30;
        margin: 0;
        font-size: 18px;
        font-family: Lato;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .product_description .old-price {
        color: #888888;
        margin: 0;
        font-size: 14px;
        font-family: Lato;
        text-decoration: line-through;
    }
    
    .product_description .new-price {
        color: #1f1e30;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
    }
    
    .btn {
        font-family: Lato !important;
        border: none !important;
        border-radius: 2px !important;
        font-weight: bold;
    }
    
    .btn-success {
        color: #fff;
        background-color: #00d569;
    }
    
    .btn-warning {
        color: #fff;
        background-color: #ffa904;
    }
    
    .btn-success:hover,
    .btn-success:focus {
        color: #fff;
        background-color: #00d569;
    }
    
    .btn-warning:hover,
    .btn-warning:focus {
        color: #fff;
        background-color: #ffa904;
    }
    
    .share-header {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding: 8px;
        font-family: Lato;
        text-align: center;
    }
    
    .share-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 13px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .share {
        background-color: #eeeeee;
        padding: 10px;
        padding-bottom: 40px;
    }
    
    .share_icon {
        width: 100%;
        height: 60px;
        background-color: white;
        line-height: 60px;
        text-align: center;
    }
    
    .share_icon img {
        width: 40px;
        height: 40px;
    }

</style>
<div class="landing-page">
    <div class="header">
        <div class="row" style="margin:0">
            <div class="col-xs-9">
                <h4>{{Orgname}}</h4>
                <span>{{Addressone}}</span>
            </div>
            <div class="col-xs-3" style="text-align:right;padding-top: 5px">
                <img src="images/food-ordering/map_marker.png" style="width:25px;height:30px">
            </div>
        </div>
    </div>
    <div class="sub-header">
        <div class="row" style="margin:0">
            <div class="col-xs-9">
                <h4>{{campName}}</h4>
            </div>
            <div class="col-xs-3" style="text-align:right;padding-top: 5px">
                <a href="/order-review"><img src="images/food-ordering/cart.png" style="width:30px;height:25px"></a>
            </div>
        </div>
    </div>
    <div class="banner">
        <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate">
            <slide ng-repeat="product in productimages" active="slide.active">
                <img ng-src="{{baseurl}}{{product}}" style="width:100%;height: 200px" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open($index)">
            </slide>
        </carousel>
    </div>
<!--**************-->
     
    
    <div>
        <!--<v-tabs class="vTabs--default" horizontal active="activeTabIndex">
            <v-tab ng-repeat="page in pages" ng-bind="page.title"></v-tab>
        </v-tabs>

        <v-pages class="vPages--default" active="activeTabIndex">
            <v-page ng-repeat="page in pages" ng-bind="page.description"></v-page>
        </v-pages>-->
        <v-tabs class="vTabs--default" horizontal="" active="activeTabIndex">
            <v-tab style="background-color:#ccd9ff !important; margin-right: 1px">{{categoriesdisplay[0]}}</v-tab>
            <v-tab style="background-color:#ccd9ff !important; margin-right: 1px">{{categoriesdisplay[1]}}</v-tab>
            <v-tab style="background-color:#ccd9ff !important">{{categoriesdisplay[2]}}</v-tab>
        </v-tabs>

        <v-pages class="vPages--default" active="activeTabIndex">
            <v-page>
                <div class="time-header">
                    <div class="row" style="margin:0">
                        <div class="col-xs-12">
                            <h4>{{Workinghour}}</h4>
                        </div>
                    </div>
                </div>
                <div ng-repeat="itemone in Newitemlistone">
                <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="{{baseurl}}{{itemone.productimage}}" style="width:100%;height:200px">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0">
                            <div class="col-xs-8">
                                <h4>{{itemone.productname}}</h4>
                                <span class="old-price">Rs {{itemone.actualprice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs {{itemone.offerprice}}</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px">
                                <button type="button" class="btn btn-success">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              <!--  <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="images/food-ordering/product1.jpg" style="width:100%;height:auto;">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0;">
                            <div class="col-xs-8">
                                <h4>Mysore Masala Dosa</h4>
                                <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px;">
                                <button type="button" class="btn btn-warning">Pre Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="images/food-ordering/product1.jpg" style="width:100%;height:auto;">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0;">
                            <div class="col-xs-8">
                                <h4>Mysore Masala Dosa</h4>
                                <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px;">
                                <button type="button" class="btn btn-success">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </v-page>
            <v-page>
                <div class="time-header">
                    <div class="row" style="margin:0">
                        <div class="col-xs-12">
                            <h4>{{Workinghour}}</h4>
                        </div>
                    </div>
                </div>
                 <div ng-repeat="itemone in Newitemlisttwo">
                <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="{{baseurl}}{{itemone.productimage}}" style="width:100%;height:200px">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0">
                            <div class="col-xs-8">
                                <h4>{{itemone.productname}}</h4>
                                <span class="old-price">Rs {{itemone.actualprice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs {{itemone.offerprice}}</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px">
                                <button type="button" class="btn btn-success">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--<div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="images/food-ordering/product1.jpg" style="width:100%;height:auto;">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0;">
                            <div class="col-xs-8">
                                <h4>Mysore Masala Dosa</h4>
                                <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px;">
                                <button type="button" class="btn btn-warning">Pre Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="images/food-ordering/product1.jpg" style="width:100%;height:auto;">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0;">
                            <div class="col-xs-8">
                                <h4>Mysore Masala Dosa</h4>
                                <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px;">
                                <button type="button" class="btn btn-success">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </v-page>
            <v-page>
                <div class="time-header">
                    <div class="row" style="margin:0">
                        <div class="col-xs-12">
                            <h4>{{Workinghour}}</h4>
                        </div>
                    </div>
                </div>
                <div ng-repeat="itemone in Newitemlistthree">
                <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="{{baseurl}}{{itemone.productimage}}" style="width:100%;height:200px">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0">
                            <div class="col-xs-8">
                                <h4>{{itemone.productname}}</h4>
                                <span class="old-price">Rs {{itemone.actualprice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs {{itemone.offerprice}}</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px">
                                <button type="button" class="btn btn-success">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
               <!-- <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="images/food-ordering/product1.jpg" style="width:100%;height:auto;">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0;">
                            <div class="col-xs-8">
                                <h4>Mysore Masala Dosa</h4>
                                <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px;">
                                <button type="button" class="btn btn-warning">Pre Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products" ng-click="openProductDetails()">
                    <div class="product_image">
                        <img src="images/food-ordering/product1.jpg" style="width:100%;height:auto;">
                    </div>
                    <div class="product_description">
                        <div class="row" style="margin:0;">
                            <div class="col-xs-8">
                                <h4>Mysore Masala Dosa</h4>
                                <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                            </div>
                            <div class="col-xs-4" style="text-align:right;padding-top: 10px;">
                                <button type="button" class="btn btn-success">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </v-page>
        </v-pages>

    </div>
    <div class="share-header">
        <div class="row" style="margin:0">
            <div class="col-xs-12">
                <h4>Thanks folks, share with your friends</h4>
            </div>
        </div>
    </div>
    <div class="share">
        <div style="width:100%; height:auto; background-color:#ffffff">
            <div class="share_icon">
                <div style="display:inline">
                    <img src="images/fb-icon.png">
                </div>
                <div style="display:inline">
                    <img src="images/twitter-icon.png">
                </div>
                <div style="display:inline" ng-click="mail()">
                    <img src="images/mail-icon.png">
                </div>
                <div style="display:inline" ng-click="watsapp()">
                    <img src="images/whatsapp-icon.png">
                </div>
                <div style="display:inline" ng-click="message()">
                    <img src="images/messege-icon.png">
                </div>
            </div>

        </div>
    </div>
</div>