<!--**************url shortnr***************-->

<script>
    function googleOnLoadCallback() {

        var key = 'AIzaSyD3zq6e-BeWSf70mYQtsjfAOD8m6C_NQNc'

        var apisToLoad = 1; // must match number of calls to gapi.client.load()
        var gCallback = function () {
            if (--apisToLoad == 0) {
                //Manual bootstraping of the application
                //var $injector = angular.bootstrap(document, ["secondarySalesApp"]);
            };
        };
        gapi.client.setApiKey(key);
        gapi.client.load('urlshortener', 'v1', gCallback);
    }
</script>

<script src="//apis.google.com/js/client.js?onload=googleOnLoadCallback"></script>

<!--****************************************-->
<link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
    .landing-page {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
    }
    
    .header {
        width: 100%;
        height: auto;
        background-color: #1f1e30;
        padding: 12px;
        font-family: Lato;
    }
    
    .header h4 {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
    }
    
    .header span {
        color: #ffffff;
        margin: 0;
        font-size: 12px;
        font-family: Lato;
    }
    
    .sub-header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
    }
    
    .sub-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .banner .carousel-control {
        display: none;
    }
    
/*
    .banner .carousel-indicators li {
         display: inline-block;
        width: 25px !important;
        height: 1px !important;
        margin:0px 5px !important;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #d4c4b8 !important;
        border-radius: 0px !important;

    }
    
    .banner .carousel-indicators .active {
        background-color: #fff !important;
         width: 25px !important;
        height: 1px !important;
        margin:0px 5px  !important;
        background-color: #fff;
        border: 1px solid #fff !important;
        border-radius: 0px !important;
    }
*/
    
    .banner .carousel-indicators li {
        display: inline-block;
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        text-indent: -999px;
        cursor: pointer;
          background-color: rgba(0, 0, 0, 0);
        border:none !important;
        border-radius: 0px !important;
    }
    
    .banner .carousel-indicators .active {
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        background-color: rgba(0, 0, 0, 0);
        border:none !important;
        border-radius: 0px !important;
    }
    
    .vPages--default {
        margin-bottom: 0px !important;
        background-color: #eee !important;
        font-family: Lato;
    }
    
    v-tabs {
        margin-bottom: 0px !important;
        background-color: #fff !important;
        font-family: Lato;
        font-weight: bold;
        font-size: 15px;
    }
    
    v-tab {
        background-color: #fff !important;
    }
    
    v-tab.is-active {
        color: #1f1e30 !important;
    }
    
    .vTabs--default v-tab.is-active::after {
/*        background-color: #2687ff !important;*/
        background-color: #2687ff !important;
    }
    
    .vTabs--default v-tab:hover,
    .vTabs--default v-tab:focus {
        color: #2687ff;
    }
    
    .vTabs--default[horizontal] v-tab::after {
        width: 100%;
        height: 5px !important;
        bottom: 0;
    }
    
    .vTabs--default v-tab::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        background-color: #fff !important;
        -webkit-transition: background-color 0.5s 0.25s;
        transition: background-color 0.5s 0.25s;
    }
    
    .vTabs--default[horizontal] v-tab {
/*        padding: 20px;*/
    }
    .vTabs--default[horizontal] v-tab {
        padding: 5px !important;
}
    .time-header {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding: 12px;
        font-family: Lato;
    }
    
    .time-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .products {
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    .product_description {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 12px;
        font-family: Lato;
    }
    
    .product_description h4 {
        color: #1f1e30;
        margin: 0;
        font-size: 18px;
        font-family: Lato;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .product_description .old-price {
        color: #888888;
        margin: 0;
        font-size: 14px;
        font-family: Lato;
        text-decoration: line-through;
    }
    
    .product_description .new-price {
        color: #1f1e30;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
    }
    
    .btn {
        font-family: Lato !important;
        border: none !important;
        border-radius: 2px !important;
        font-weight: bold;
    }
    
    .btn-success {
        color: #fff;
        background-color: #00d569;
    }
    
    .btn-warning {
        color: #fff;
        background-color: #ffa904;
    }
    
    .btn-success:hover,
    .btn-success:focus {
        color: #fff;
        background-color: #00d569;
    }
    
    .btn-warning:hover,
    .btn-warning:focus {
        color: #fff;
        background-color: #ffa904;
    }
    
    .share-header {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding: 8px;
        font-family: Lato;
        text-align: center;
    }
    
    .share-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 13px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .share {
        background-color: #eeeeee;
        padding: 10px;
/*        padding-bottom: 40px;*/
    }
    
    .share_icon {
        width: 100%;
        height: 60px;
        background-color: white;
        line-height: 60px;
        text-align: center;
    }
    
    .share_icon img {
        width: 40px;
        height: 40px;
    }
    
    .post-footer-option li {
        /*    float:left;*/
        /*    margin-right:50px;*/
        padding-bottom: 15px;
        display: inline;
        padding: 0% 2%;
    }
    
    .post-footer-option li a {
        color: #AFB4BD;
        font-weight: 500;
        font-size: 1.7rem;
    }
img {
    max-width: 100%;
    max-height: 100%;
}
     body,
    .modal-open .page-container,
    .modal-open .page-container .navbar-fixed-top,
    .modal-open .modal-container {
        overflow-y: scroll;
    }
    
    @media (max-width: 979px) {
        .modal-open .page-container .navbar-fixed-top {
            overflow-y: visible;
        }
    }
</style>
<!--****pupup style-->
<style>
    .productDetails-page {
        width: 100%;
        height: auto;
    }
    /*.header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
    }*/
    
    .modal-content {
        position: relative;
        background-color: #fff;
        border: 0px;
        border-radius: 0px !important;
        box-shadow: none !important;
        background-clip: padding-box;
        outline: 0;
    }
    
    .modal {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .sub-header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
/*        margin-top: 10px;*/
    }
    
    .sub-header h4 {
        color: #292929;
        margin: 0;
        font-size: 18px;
        font-family: Lato;
        line-height: 30px;
    }
    
    .sub-header .review {
        color: #888888;
        font-size: 14px;
    }
    
    .sub-header .price_discount {
        color: #d33434;
        font-size: 16px;
    }
    
    .sub-header .old-price {
        color: #888888;
        margin: 0;
        font-size: 15px;
        font-family: Lato;
        text-decoration: line-through;
    }
    
    .sub-header .new-price {
        color: #1f1e30;
        margin: 0;
        font-size: 18px;
        font-family: Lato;
        font-weight: bold;
    }
    
    .sub-header .product-description {
        color: #888888;
        letter-spacing: 0.7px;
        text-align: left;
        padding-top: 20px;
    }
    
    .order-button {
/*
        width: 100%;
        height: auto;
        background-color: #ffa904;
*/
        text-align: center;
        color: #fff;
        font-family: Lato;
        padding: 15px;
        font-weight: bold;
    }
    
    .glyphicon-star {
        color: #ffc822;
        font-size: 18px;
    }
    
    .glyphicon-star-empty {
        font-size: 18px;
    }
.socialspace {
        margin: 2px 5px;
    }
    
    button:active,
    buttun:focus {
        background: #00b356;
    }
 #fixedbutton {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
</style>
<!--******-->
<div class="landing-page">
  
     <div style="background:#ffffff; height:360px; border: 2px; solid grey; margin-left: 00px; margin-top:00px; position:relative;height:768px; padding:2px">

            <div style="position:fixed;width:100%;z-index:1">
                <div style="background-color: #1e1d2e;padding:5px">
                    <div class="pull-right">
                        <div id="dvDistance" style="color:#ffffff"></div>
                        <a href="#" style="color:#ffffff;font-size:18px" ng-click="getLocation()">
                            <img src="images/locationnew.png" style="width: 30px;padding: 5px;padding-top:0px">
                        </a>
                    </div>

                    <h4 style="color:#ffffff;margin:7px;font-family:Lato,sans-serif;font-weight:600;font-size:20px"><img src="images/prof_logo.png" id="profile_picture" style="border-radius:100%" ng-style="{'width':'35px', 'height':'35px'}">&nbsp;{{Orgname}}</h4>
                </div>

                <div>
                    <div class="pull-right">
                        <a href="#" style="color:#6c6c6c;font-size:18px" ng-click="openorderCheckout()">
                            <img src="images/cartnew.png" style="width: 35px;padding:5px;margin-top:10px"><label class="label label-primary ng-binding" style="border-radius:50%;margin-left:-15px">{{cartDisplay}}</label>
                        </a>
                    </div>
                   
                    <h4 style="color:#6c6c6c; background-color: #ffffff;padding:10px; font-size: 20px;margin:0px;font-family:Lato,sans-serif"><a href="#" id="myWish" style="color:#6c6c6c" ng-click="openorderHistory()" title="Order History"><span><img src="images/orderlist.png" style="width: 35px;padding:5px;margin-top:-10px"></span></a>&nbsp;&nbsp;&nbsp;Welcome, {{userName}}
                </h4>

                </div>
                <div class="alert alert-warning" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        No Orders Found!
                    </div>
            </div>
            <br><br><br><br><br>
         <div class="container" class="form-control" style="width: 100%;background: #f8fafb;height:200px;padding-left:5px;padding-right:5px">
    <div class="banner">
        <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate">
            <slide ng-repeat="product in productimages track by $index" active="slide.active">
                <img ng-src="{{baseurl}}{{product}}" style="width:100%;height: 200px;object-fit:contain" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open(product)">
            </slide>
        </carousel>
    </div>
         </div>
    <!--**************-->


    <div style="margin-top:5px">
        
        <v-tabs class="vTabs--default" horizontal="" active="activeTabIndex">
            <v-tab style="background-color:#ccd9ff !important; margin-right: 1px">{{categoriesdisplay[0]}}</v-tab>
            <v-tab style="background-color:#ccd9ff !important; margin-right: 1px">{{categoriesdisplay[1]}}</v-tab>
            <v-tab style="background-color:#ccd9ff !important">{{categoriesdisplay[2]}}</v-tab>
        </v-tabs>
<!--        #cce6ff #b3d9ff-->

        <v-pages class="vPages--default" active="activeTabIndex">
            <v-page>
                <div class="time-header">
                    <div class="row" style="margin:0">
                        <div class="col-xs-12">
                            <h4 style="font-size: 15px">{{Workinghour}}</h4>
                        </div>
                    </div>
                </div>
                <div ng-repeat="itemone in Newitemlistone track by $index">
                    <div class="products" ng-if="Newitemlistone.length>0">
                        <div class="product_image">
                            <img src="{{baseurl}}{{itemone.productimage}}" style="width:100%;height:200px;object-fit:contain">
                        </div>
                        <div class="product_description">
                            <div class="row" style="margin:0">
                                <div class="col-xs-8">
                                    <h4 style="font-size: 15px">{{itemone.productname}}</h4>
                                    <span class="old-price" style="font-size: 15px" ng-if="actualprice != offerprice">Rs {{itemone.actualprice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price" style="font-size: 15px">Rs {{itemone.offerprice}}</span>
                                </div>
                                <div class="col-xs-4" style="text-align:right;padding-top: 10px">
                                    <button type="button" ng-disabled="disableorderNow" ng-click="open1(itemone.productimage,itemone.Id)" class="btn btn-success">Order Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hide show-->
                    
                    
                </div>
                
                <div class="products" ng-if="Newitemlistone.length==0">
                        <div class="product_image">
                            <img src="images/backsoon.png" style="width:100%;height:200px;object-fit:contain">
                        </div>
                        <div class="product_description">
                            <div class="row" style="margin:0">
                               
                            </div>
                        </div>
                    </div>
               
            </v-page>
            <v-page>
                <div class="time-header">
                    <div class="row" style="margin:0">
                        <div class="col-xs-12">
                            <h4 style="font-size: 15px">{{Workinghour}}</h4>
                        </div>
                    </div>
                </div>
                <div ng-repeat="itemtwo in Newitemlisttwo track by $index">
                    <div class="products" ng-if="Newitemlisttwo.length>0">
                        <div class="product_image">
                            <img src="{{baseurl}}{{itemtwo.productimage}}" style="width:100%;height:200px;object-fit:contain">
                        </div>
                        <div class="product_description">
                            <div class="row" style="margin:0">
                                <div class="col-xs-8">
                                    <h4 style="font-size: 15px">{{itemtwo.productname}}</h4>
                                    <span class="old-price" style="font-size: 15px" ng-if="actualprice != offerprice">Rs {{itemtwo.actualprice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price" style="font-size: 15px">Rs {{itemtwo.offerprice}}</span>
                                </div>
                                <div class="col-xs-4" style="text-align:right;padding-top: 10px">
                                    <button type="button" ng-disabled="disableorderNow" ng-click="open2(itemtwo.productimage,itemtwo.Id)" class="btn btn-success">Order Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="products" ng-if="Newitemlisttwo.length==0">
                        <div class="product_image">
                            <img src="images/backsoon.png" style="width:100%;height:200px;object-fit:contain">
                        </div>
                        <div class="product_description">
                            <div class="row" style="margin:0">
                               
                            </div>
                        </div>
                    </div>
              
            </v-page>
            <v-page>
                <div class="time-header">
                    <div class="row" style="margin:0">
                        <div class="col-xs-12">
                            <h4 style="font-size: 15px">{{Workinghour}}</h4>
                        </div>
                    </div>
                </div>
                <div ng-repeat="itemthree in Newitemlistthree track by $index">
                    <div class="products" ng-if="Newitemlistthree.length>0">
                        <div class="product_image">
                            <img src="{{baseurl}}{{itemthree.productimage}}" style="width:100%;height:200px;object-fit:contain">
                        </div>
                        <div class="product_description">
                            <div class="row" style="margin:0">
                                <div class="col-xs-8">
                                    <h4 style="font-size: 15px">{{itemthree.productname}}</h4>
                                    <span class="old-price" style="font-size: 15px" ng-if="actualprice != offerprice">Rs {{itemthree.actualprice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price" style="font-size: 15px">Rs {{itemthree.offerprice}}</span>
                                </div>
                                <div class="col-xs-4" style="text-align:right;padding-top: 10px">
                                    <button type="button" ng-disabled="disableorderNow" ng-click="open3(itemthree.productimage,itemthree.Id)" class="btn btn-success">Order Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="products" ng-if="Newitemlistthree.length==0">
                        <div class="product_image">
                            <img src="images/backsoon.png" style="width:100%;height:200px;object-fit:contain">
                        </div>
                        <div class="product_description">
                            <div class="row" style="margin:0">
                               
                            </div>
                        </div>
                    </div>
                
            </v-page>
        </v-pages>

    </div>
    <div class="share-header" style="padding-bottom:0px">
        <div class="row" style="margin:0">
            <div class="col-xs-12">
                <h4>Thanks Folks, Share With Your Friends</h4>
            </div>
        </div>
    </div>
    <div class="share">
        <div style="width:100%; height:auto; background-color:#ffffff">
            <div class="share_icon">
                <div class="socialspace" style="display:inline" ng-click="openSocialShare('fb')">
                    <img src="images/fb-icon.png">
                </div>
                <div class="socialspace" style="display:inline" ng-click="openSocialShare('twiter')">
                    <img src="images/twitter-icon.png">
                </div>
                <div class="socialspace" style="display:inline" ng-click="openSocialShare('mail')">
                    <img src="images/mail-icon.png">
                </div>
                <div class="socialspace" style="display:inline" ng-click="openSocialShare('whatsapp')">
                    <img src="images/whatsapp-icon.png">
                </div>
                <div class="socialspace" style="display:inline" ng-click="openSocialShare('sms')">
                    <img src="images/messege-icon.png">
                </div>
            </div>

        </div>
    </div>
    
    
</div>

<!--********************************pupup ************************************************-->

<!--*********************************************** popup Banner******************************************************-->
<script type="text/ng-template" id="template/pic-modal.html">
    <div class="modal-body2">
        <div class="img-group">
            <span aria-hidden="true" class="closebtn" ng-click="ok()" style="float:right;"><img src="images/cross-icon-web.png" style="width:30px;hieght:30px;margin:10px;;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
            <img ng-src='{{baseurl}}{{categoryimage}}' alt="No Image" class="img-responsive" style="width:100%;height:250px;object-fit:contain;" />
            <div align="center" style="margin-top:-0px;">

                <br/>
                <div class="row" style="border:1px solid #f2f2f2;margin:0px;padding:5px;border-top:0px;color:#999999;">
                    <hr>
                    <div class="post-footer-option container" style="padding:0px;">
                        <ul class="list-unstyled">
                            <li ng-click="openinterested()"><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                        </ul>
                    </div>
                </div>
              
            </div>
        </div>

    </div>

</script>



<modal4 title="zzz" visible="showModallike">
    <div>

        <div>
            <label style="font-size:14px; font-weight: normal">Name:</label>
            <input ng-model="interested[0].partnername" type="text" class="form-control" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">Mobile:</label>
            <input ng-model="interested[0].partnermobile" type="text" class="form-control" style="height: 30px" maxlength="10" numbers-only="numbers-only">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">E-mail:</label>
            <input ng-model="interested[0].partneremail" type="text" class="form-control" style="height: 30px">
        </div>
    </div>
    <br>
    <div align="center">
        <a href="" data-ng-click="clearInterstdTextField()">Not You?</a>
    </div>
    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-disabled="disablesubmitinterested" ng-click="submitinterested()">SUBMIT</button>
    </div>


</modal4>
<!--*********************************product 1*************************************-->

<script type="text/ng-template" id="template/pic-modal1.html">
    <div class="modal-body2">
        <div class="img-group ">
            <span aria-hidden="true" class="closebtn" ng-click="ok1()" style="float:right; "><img src="images/cross-icon-web.png" style="width:30px;hieght:30px;margin:10px;padding:5px;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
           
            <div class="productDetails-page">
            
                <div class="product_image">
                    <img src="{{baseurl}}{{categoryimage1}}" style="width:100%;height:200px;object-fit:contain;">
                </div>
                <div class="sub-header">
                    <div class="row" style="margin:0;">
                        <div class="col-xs-12">
                            <h4>{{Name}}</h4>
                            <div>
                                <span>
                    <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    </span>
                                <span class="review">234 reviews</span>
                            </div>
                            <div style="margin-top:5px;">
                                <span class="price_discount">{{offerprsent}}</span>
                            </div>
                            
                            
                            <div class="form-group" style="margin-top:5px;margin-bottom:5px;">
                                <img ng-click="decrement()" class='qtyminus' ng-disabled="qty<=0" src="images/minus_icon.png" style="width:25px;">
                                <input type='text' ng-model="qty" name='quantity' class='qty' style="width:50px;text-align:center;border:none;border-bottom:1px solid #e6e6e6;" />
                                <img ng-click="increment()" src="images/plus_icon.png" style="width:25px;">

                            </div>
                        
                            <div>
                                <span class="old-price" ng-if="oldPrice != totalamount">Rs {{oldPrice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs {{totalamount}} ,</span>
                                <label>
                            <h3 style="margin-top:0px;text-align:left;font-size:18px;padding-left:20px;">&nbsp;{{Unit}}</h3></label>
                            </div>
                            <div class="product-description" style="padding-top:0px;">
                                <span>{{Discription}} </span>
                            </div>
                        </div>
                    </div>
                </div>
              
               
               <div class="order-button">

    <button type="button" class="form-control" style="background-color:#ffa904;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-disabled="disableadd" ng-hide="addbutoon" ng-click="opencart()">ADD</button>

    <button type="button" class="form-control" style="background-color:#ffa904;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-disabled="disableadded" ng-show="addbutoon" ng-click="opencart()">ADDED</button>

</div>
            </div>
        </div>
    </div>
</script>

<!--*********************************product 2*************************************-->

<script type="text/ng-template" id="template/pic-modal2.html">
    <div class="modal-body2">
           <div class="img-group ">
            <span aria-hidden="true" class="closebtn" ng-click="ok2()" style="float:right; "><img src="images/cross-icon-web.png" style="width:30px;hieght:30px;margin:10px;padding:5px;;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
           
            <div class="productDetails-page">
            
                <div class="product_image">
                    <img src="{{baseurl}}{{categoryimage1}}" style="width:100%;height:200px;object-fit:contain;">
                </div>
                <div class="sub-header">
                    <div class="row" style="margin:0;">
                        <div class="col-xs-12">
                            <h4>{{Name}}</h4>
                            <div>
                                <span>
                    <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    </span>
                                <span class="review">234 reviews</span>
                            </div>
                            <div style="margin-top:5px;">
                                <span class="price_discount">{{offerprsent}}</span>
                            </div>
                            
                            
                            <div class="form-group" style="margin-top:5px;">
                                <img ng-click="decrement()" class='qtyminus' ng-disabled="qty<=0" src="images/minus_icon.png" style="width:25px;">
                                <input type='text' ng-model="qty" name='quantity' class='qty' style="width:50px;text-align:center;border:none;border-bottom:1px solid #e6e6e6;" />
                                <img ng-click="increment()" src="images/plus_icon.png" style="width:25px;">

                            </div>
                        
                            <div>
                                <span class="old-price" ng-if="oldPrice != totalamount">Rs {{oldPrice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs {{totalamount}} ,</span>
                                <label>
                            <h3 style="margin-top:0px;text-align:left;font-size:18px;padding-left:20px;">&nbsp;{{Unit}}</h3></label>
                            </div>
                            <div class="product-description">
                                <span>{{Discription}} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-button">

    <button type="button" class="form-control" style="background-color:#ffa904;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-hide="addbutoon" ng-disabled="disableadd" ng-click="opencart1()">ADD</button>

    <button type="button" class="form-control" style="background-color:#ffa904;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-disabled="disableadded" ng-show="addbutoon" ng-click="opencart1()">ADDED</button>

</div>
            </div>
        </div>
    </div>
</script>
<!--*********************************product 3*************************************-->

<script type="text/ng-template" id="template/pic-modal3.html">
    <div class="modal-body2">
          <div class="img-group ">
            <span aria-hidden="true" class="closebtn" ng-click="ok3()" style="float:right; "><img src="images/cross-icon-web.png" style="width:30px;hieght:30px;margin:10px;padding:5px;;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
           
            <div class="productDetails-page">
            
                <div class="product_image">
                    <img src="{{baseurl}}{{categoryimage1}}" style="width:100%;height:200px;object-fit:contain;">
                </div>
                <div class="sub-header">
                    <div class="row" style="margin:0;">
                        <div class="col-xs-12">
                            <h4>{{Name}}</h4>
                            <div>
                                <span>
                    <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    </span>
                                <span class="review">234 reviews</span>
                            </div>
                            <div style="margin-top:5px;">
                                <span class="price_discount">{{offerprsent}}</span>
                            </div>
                            
                            
                            <div class="form-group" style="margin-top:5px;">
                                <img ng-click="decrement()" class='qtyminus' ng-disabled="qty<=0" src="images/minus_icon.png" style="width:25px;">
                                <input type='text' ng-model="qty" name='quantity' class='qty' style="width:50px;text-align:center;border:none;border-bottom:1px solid #e6e6e6;" />
                                <img ng-click="increment()" src="images/plus_icon.png" style="width:25px;">

                            </div>
                        
                            <div>
                                <span class="old-price" ng-if="oldPrice != totalamount">Rs {{oldPrice}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs {{totalamount}} ,</span>
                                <label>
                            <h3 style="margin-top:0px;text-align:left;font-size:18px;padding-left:20px;">&nbsp;{{Unit}}</h3></label>
                            </div>
                            <div class="product-description">
                                <span>{{Discription}} </span>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="order-button">

    <button type="button" class="form-control" style="background-color:#ffa904;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-hide="addbutoon" ng-disabled="disableadd" ng-click="opencart2()">ADD</button>

    <button type="button" class="form-control" style="background-color:#ffa904;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-disabled="disableadded" ng-show="addbutoon" ng-click="opencart2()">ADDED</button>

</div>
            </div>
        </div>
    </div>
</script>
    
    <!--  **************************************Sharing Popup************************************* -->


<modal9 title="User Details" visible="showModalSharingpopup">
    <div>
        <div class="row" style="padding-top:20px">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="Enter Your Mobile Number" id="mobile" data-ng-model="partner.mobile" maxlength="10" numbers-only="numbers-only" style="height:50px;border-left:none;border-top:none;border-right:none; box-shadow:none;border-radius:0px">
      </div>
    </div>
    
   <div class="row" style="padding-top:5px">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="Enter Your Name" id="name" data-ng-model="partner.firstName" style="color:black;height:50px;border-left-style:none;border-top-style:none;border-right-style:none;box-shadow:none;border-radius:0px">
      </div>
    </div>
    
 <div class="row" style="padding-top:15px">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
       <button type="proceed" class="form-control btn btn-success" style="background-color:#0e6ee3; border-color: #0e6ee3;border-radius:0px;height:50px" ng-disabled="disableproceed" data-ng-click="SocialshareLaunch()">PROCEED</button>
      </div>
    </div>
    <br>
        
          <div class="row" style="margin:0px">
        <dv class="col-xs-1"></dv>
            <div class="col-xs-5" style="padding-right:0px;margin-left:-15px">
            <div for="points" style="background-color:#6bd16c">
              
                <div class="pull-left" style="margin:10px">
                   <span><img src="images/iconrefer.png" style="width:25px;height:30px;margin-top:px"></span>
                </div>
            <div style="padding:2px">
               <p style="text-align:center;color:white;font-size:12px;margin:0px !important;padding-bottom: 10px">00 <br> POINTS</p>
                </div>
            
            </div>
        </div>
        <div class="col-xs-6" style="padding-left:5px;margin-top:7px;margin-left:-7px">
            <div class="hero">
       <button type="refer" class="form-control btn btn-success" style="color:#6bd16c; ;background-color:white;border-color:1px solid#ccc;border-radius:0px;height:35px">REFER NOW</button>
            </div>
      </div>
    </div>
    
   <br>
     <div class="row">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
       <p style="padding-left:10px;height:10px;text-align:center; color:#000;margin:0px !important;font-size:13px">Earn Points Just By Refering Us! </p>
    <div class="col-xs-1"></div>
         </div>
    </div>
        
        <div class="row" style="margin-top:5px" ng-hide="hideSubscribeMsg">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
      <p style="padding-left:10px;height:10px;text-align:center;color:#000;font-size:13px">To Unsubscribe Cookies<a href="" style="padding-left:10px;height:10px;text-align:center" ng-click="confirmdeltePopup()">- ClickHere</a> </p>
    <div class="col-sm-1"></div>
         </div>
         
    </div>

    </div>

    <br>
    
    <div>

  <div class="container box-footer" ng-hide="hidecokkoiesMsg" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p style="font-size:12px">By clicking any link on this page you are giving your consent for us to set cookies.</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="closeMsg()">OK, I agree</button>
            </div>
    </div>
    <div class="container box-footer" ng-hide="ConfirmDeletecookies" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p style="font-size:12px">If you want to clear you details from Cookies</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="deleteCookies()">Clear </button>
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="Cancelclear()">Cancel </button>
            </div>
    </div>
        </div>

</modal9></div>