<style>
    ::-webkit-scrollbar {
        width: .2em;
        /*    height: 2em*/
    }
    /*
::-webkit-scrollbar-button {
    background: #ddd
}
*/
    
    ::-webkit-scrollbar-track-piece {
        background: #f4f4f4
    }
    
    ::-webkit-scrollbar-thumb {
        background: #808080
    }
    
    h5 {
        padding: 0;
        margin: 0;
    }
    
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block;
    }
    
    @media (max-width:768px) {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
    }
    
    @media only screen and (min-width: 0px) and (max-width: 320px) {
        p {
            font-size: 10px;
        }
    }
</style>

<!--***** Gaja chnages style add *****-->
<style>
    .header {
        width: 100%;
        height: auto;
        background-color: #33db27;
        color: #000;
/*        text-align: center;*/
        padding: 10px 0;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
    
    .search-bar {
        width: 100%;
        height: auto;
        background-color: #33db27;
        padding: 5px 0px;
        box-shadow: 0px 2px 3px #888888;
    }
    
    .banner .carousel-control {
        display: none;
    }
    
    .category {
        width: 100%;
        height: auto;
        background-color: #ddd;
        text-align: center;
        padding: 10px;
        /*cursor: pointer;*/
        cursor: default;
    }
    
    .image-caption {
        width: 100%;
        height: auto;
/*        background-color: #ddd;*/
        text-align: center;
        /*        padding: 3px 0;*/
    }
    
    @media screen and (max-width: 320px) {
        .image-caption {
            font-size: 8px;
        }
    }
    
    @media screen and (max-width: 360px) and (min-width:320px) {
        .image-caption {
            font-size: 8px;
        }
    }
    
    @media screen and (max-width: 480px) and (min-width:360px) {
        .image-caption {
            font-size: 9px;
        }
    }
    
     .socialspace {
        margin: 2px 5px;
    }

</style>

<style>
 .header {
        width: 100%;
        height: auto;
        background-color: #1f1e30;
        padding: 12px;
        font-family: Lato;
    }
    
    .header h4 {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
    }
    
    .header span {
        color: #ffffff;
        margin: 0;
        font-size: 12px;
        font-family: Lato;
    }
    
    .sub-header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
    }
    
    .sub-header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
</style>
<!-- ********* -->
<!--------------------------------------template---------------------------------------------->
<div class="desktop" ng-show="webact">
    <div class="col-sm-6" style="margin-left: 500px; margin-top:30px; position:relative">
        <div class="col-sm-6 image" style="width:50%;  background-image: url('images/iphone12.png'); background-repeat: no-repeat; background-size: 100% 100%; height:600px; margin-left: 15px">


            <div style="background:#ffffff;height:360px; border: 2px; solid grey; margin-left:3px; margin-top:72px; position:relative;height:455.5px; padding:2px; overflow-y:auto; overflow-x:hidden; z-index:1;margin-right:4px">
                <div align="center">
                    <!--                    <h4 style="padding-bottom: 2px; color:white;"> {{ campName }}</h4>-->
                    <h4 style="color:#666666;background:#80e5ff;padding:5px 10px;margin-top:5px;margin-bottom:5px">{{campName}}</h4>
                    <!--  Wedding Booking  -->
                </div>

                <div class="panel panel-default" style="margin-bottom:10px">
                    <video id="videodisplay" controls="controls" width="100%" height="150px" ng-src="" style="width:100%; height: 100%" poster="images/musicgirl1.jpg"></video>

                </div>
                <div class="container" class="form-control" style="width: 100%; height:120px;padding-left:5px;padding-right:5px" style="background: #f8fafb">
                    <!--                    <br>-->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="product in productimages track by $index" ng-class="{active:$first}"></li>
                            
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox" style="background: #f8fafb">
                            <div class="item active">
                                
                                <!--  http://rajdhani-ss-api.herokuapp.com/api/v1/containers/mbrimages/download/ -->
                                <img ng-src="{{baseurl}}{{productimages[0]}}" style="width: 100%; height: 140px">
                            </div>

                            <div ng-repeat="product in productimages track by $index" class="item" ng-if="!first">
                                <img ng-src="{{baseurl}}{{product}}" style="width: 100%; height: 140px">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        // Activate Carousel
                        $("#myCarousel").carousel();

                        // Enable Carousel Indicators
                        $(".item").click(function () {
                            $("#myCarousel").carousel($index);
                        });
                    });
                </script>

                <br>

                
                <br>
              <!---  <div ng-repeat="product in products track by $index">
                <div style="border-top:5px solid #ccc;border-bottom:5px solid #ccc;" ng-if="$first">
                    <div class="row" style="margin-bottom:5px;margin-top:15px;">
                        <div class="col-sm-4" style="padding-left:20px;padding-right:5px;">
                            <img src="{{baseurl}}{{product}}" class="img-responsive">
                        </div>
                        <div class="col-sm-8" style="padding-left:5px;">
                            <p style="margin-bottom:1px;color:#666666;">FOOD</p>
                            <p style="font-size:12px;">Best quality of veg and non-veg foods</p>
                        </div>
                    </div>
                </div>
                <div style="border-bottom:5px solid #ccc;" ng-if="!$first">
                    <div class="row" style="margin-bottom:5px;margin-top:15px;">
                        <div class="col-sm-4" style="padding-left:20px;padding-right:5px;">
                            <img src="{{baseurl}}{{product}}" class="img-responsive">
                        </div>
                        <div class="col-sm-8" style="padding-left:5px;">
                            <p style="margin-bottom:1px;color:#666666;">Decoration</p>
                            <p style="font-size:12px;">Book budget wedding banquet halls, function halls</p>
                        </div>
                    </div>
                </div>
            </div> -->
                
                <!--**************new chnages for product ************ -->
                  <!-----  <div class="row" style="margin:0;">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td ng-model="Cat">
                                        <div class="row">

                                            <div ng-repeat="product in displayproduct track by $index">

                                                <div class="col-xs-6" style="border:1px solid #ccc;">
                                                   
                                                    <a style="text-decoration:none;color:#333;">
                                                        <div class="image-holder">

                                                            <img src="{{baseurl}}{{product.productimage}}" style="width:100%;height:auto;"  />
                                                        </div>

                                                        <div class="image-caption">
                                                            <span><label  style="font-weight:600;margin-top: 7px;">{{ product.productname}}</label></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  ----->
                
                
                
               
                <br>
                <div style="width:100%; height: auto; background-color:#80e5ff;text-align:center; padding-top:00px">
                    <span style="color:#666666">Share  with your friends</span>&nbsp; &nbsp;<img src="images/shareicon.png" style="width:25px;height:25px">
                </div>

                <div style="width:100%; height:auto; background-color:#2E5C8A; padding:00px">
                    <div style="width:100%; height:50px; background-color:white; line-height:50px; text-align:center">
                        
                        <div style="display:inline" ng-click="toggleModalYoutube()">
                            <img src="images/youtube2.png" style="width:35px; height:35px">
                        </div>

                        <div style="display:inline" ng-click="sendfacebook()">
                            <img src="images/fb-icon.png" style="width:40px; height:40px">
                        </div>

                        <div style="display:inline" ng-click="mail()">
                            <img src="images/mail-icon.png" style="width:40px; height:40px">
                        </div>
                        <div style="display:inline" ng-click="watsapp()">
                            <img src="images/whatsapp-icon.png" style="width:40px; height:40px">
                        </div>
                        <div style="display:inline" ng-click="message()">
                            <img src="images/messege-icon.png" style="width:40px; height:40px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------MObile----------------------------------------------------->
<!--        <div class="mobile">   overflow-y:auto; overflow-x:hidden; z-index:1;  -->
<div class="mobile" ng-hide="mobact">
    <div style="background:#ffffff; height:360px; border: 2px; solid grey; margin-left: 00px; margin-top:00px; position:relative;height:768px; padding:2px">
<!--
        <div align="center">
            <h4 style="color:#ffffff;background:#1e1d2e;padding:10px 10px;margin-top:5px;margin-bottom:5px;">{{campName}}</h4>
        </div>
-->
        
           <div class="header">
        <div class="row" style="margin:0">
            <div class="col-xs-9">
                <h4 style="text-align: left">{{Orgname}}</h4>
<!--                <span>{{Addressone}}</span>-->
            </div>
            <div class="col-xs-3" style="text-align:right;padding-top: 5px">
                <img src="images/food-ordering/map_marker.png" style="width:25px;height:30px">
            </div>
        </div>
    </div>
    <div class="sub-header">
        <div class="row" style="margin:0">
            <div class="col-xs-9">
                <h4>{{campName}}</h4>
            </div>
            <div class="col-xs-3" style="text-align:right;padding-top: 5px">
                <a href="/order-review"><img src="images/food-ordering/cart.png" style="width:30px;height:25px"></a>
            </div>
        </div>
    </div>

       <div class="panel panel-default" style="margin-bottom:10px">
            <video id="videodisplay1" controls="controls" width="100%" height="150px" ng-src="" style="width:100%; height: 100%; background:#000000" poster="images/videoposternew.png"></video>
        </div>

        <div class="container" class="form-control" style="width: 100%;background: #f8fafb;height:180px;padding-left:5px;padding-right:5px">
            
            <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="2000">
                       
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel1" data-slide-to="{{$index}}" ng-repeat="product in products track by $index" ng-class="{active:$first}"></li>
                        </ol>

                       
                        <div class="carousel-inner" role="listbox" style="background: #f8fafb">
                            <div class="item active">
                                <img ng-src="{{baseurl}}{{productimages[0]}}" style="width: 100%; height: 180px">
                            </div>

                            <div ng-repeat="product in productimages track by $index" class="item" ng-if="!first">
                                <img ng-src="{{baseurl}}{{product}}" style="width: 100%; height: 180px">
                            </div>
                        </div>
                       
                    </div>
        </div>
        <script>
            $(document).ready(function () {
                // Activate Carousel
                $("#myCarousel1").carousel();

                // Enable Carousel Indicators
                $(".item").click(function () {
                    $("#myCarousel1").carousel($index);
                });
            });
        </script>

        
        <br>
       <!--- <div ng-repeat="product in products track by $index">
        <div class="row" style="margin-bottom:10px;" ng-if="$first">
            <div class="col-xs-4" style="padding-left:20px;padding-right:5px;">
                <img src="{{baseurl}}{{product}}" class="img-responsive">
            </div>
            <div class="col-xs-8" style="padding-left:5px;">
                <p style="margin-bottom:1px;color:#666666;">FOOD</p>
                <p style="font-size:12px;">Best quality of veg and non-veg foods</p>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px;" ng-if="!$first">
            <div class="col-xs-4" style="padding-left:20px;padding-right:5px;">
                <img src="{{baseurl}}{{product}}" class="img-responsive">
            </div>
            <div class="col-xs-8" style="padding-left:5px;">
                <p style="margin-bottom:1px;color:#666666;">Decoration</p>
                <p style="font-size:12px;">Book budget wedding banquet halls, function halls</p>
            </div>
        </div>
    </div>-->
        
        <!--**************new chnages for product ************ -->
                <!---    <div class="row" style="margin:0;">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td ng-model="Cat">
                                        <div class="row">

                                            <div ng-repeat="product in displayproduct track by $index">

                                                <div class="col-xs-6" style="border:1px solid #ccc;">
                                                  
                                                    <a style="text-decoration:none;color:#333;">
                                                        <div class="image-holder">

                                                            <img src="{{baseurl}}{{product.productimage}}" style="width:100%;height:auto;"  />
                                                        </div>

                                                        <div class="image-caption">
                                                            <span><label  style="font-weight:600;margin-top: 7px;">{{ product.productname}}</label></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> ---->
                
                

       <!---- <div style="width:100%; height: auto; background-color:#80e5ff;text-align:center; padding-top:5px;padding-bottom:5px;">
            <span style="color:#666666;">Share  with your friends</span>&nbsp; &nbsp;<img src="images/shareicon.png" style="width:25px;height:25px;" />
        </div>
        
        <div style="width:100%; height:auto;">
            <div style="width:100%; height:50px;line-height:50px; text-align:center;">
                
                <div style="display:inline;" ng-click="toggleModalYoutube()">
                    <img src="images/youtube2.png" style="width:34px; height:34px;" />
                </div>
                <div style="display:inline;" ng-Click="sendfacebook()">
                    <img src="images/fb-icon.png" style="width:40px; height:40px;" />
                </div>
                <div style="display:inline;" ng-Click="mail()">
                    <img src="images/mail-icon.png" style="width:40px; height:40px;" />
                </div>
                <div style="display:inline;" ng-Click="watsapp()">
                    <img src="images/whatsapp-icon.png" style="width:40px; height:40px;" />
                </div>
                <div style="display:inline;" ng-Click="message()">
                    <img src="images/messege-icon.png" style="width:40px; height:40px;" />
                </div>
            </div>
        </div>--->
        <div style="width:100%; height: auto; background-color:#f2f2f2;text-align:center;  padding:16px 0px 16px 0px">

                            <span style="color:#6b6b6b; font-size: 12px">Thanks Folks, Share With Your Friends</span>
                            <!--------------------------------------------------------------->
                            <div style="margin:15px">
                                <div style="width:100%; height:85px;line-height:65px; text-align:center;background:#ffffff;padding:10px">
                                    <div class="socialspace" style="display:inline" ng-click="sendtwitter()">
                                        <img src="images/layer_10.png" style="width:40px; height:40px">
                                    </div>
                                    <div class="socialspace" style="display:inline" ng-click="sendfacebook()">
                                        <img src="images/layer_9.png" style="width:40px; height:40px">
                                    </div>
                                    <div class="socialspace" style="display:inline" ng-click="mail()">
                                        <img src="images/layer_11.png" style="width:40px; height:40px">
                                    </div>
                                    <div class="socialspace" style="display:inline" ng-click="watsapp()">
                                        <img src="images/layer_13.png" style="width:40px; height:40px">
                                    </div>
                                    <div class="socialspace" style="display:inline" ng-click="message()">
                                        <img src="images/layer_12.png" style="width:40px; height:40px">
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>
<!-------------------------callback model----------------------------------->
<!--
<cart title="Callback" visible="showModalMisCal">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal;">Name:</label>
            <input ng-model="missedcall[0].partnername" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="missedcall[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">E-mail:</label>
            <input ng-model="missedcall[0].partneremail" type="text" class="form-control" style="height: 30px;" />
        </div>
    </div>

    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitmissedcall()">Submit</button>
    </div>

</cart>
-->

<!--------------------------------------End------------------------------------------------>
<!-------------------------CONTACT_US model----------------------------------->
<!--
<cart title="Contact_Us" visible="showModalChat">

    <div>
        <div>
            <label style="color:black;">Your Name:</label>
            <input type="text" class="form-control" ng-model="tempcampaign.username" />
        </div>
        <br/>
        <div class="form-group" style="margin-top: -10px;">
            <label style="color:black;">Phone Number:</label>
            <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only" />
        </div>
    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitcontactus()" ng-disabled="ContactUs">Submit</button>
    </div>
    -  ng-disabled="ContactUs"

</cart>
-->
<!-------------------------------------------------------------------------------->
<!-------------------------SHOP_NOW model----------------------------------->
<!--
<cart title="Shop_Now" visible="showModalChat1">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal;">Name:</label>
            <input ng-model="opportunity[0].opportunityname" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="opportunity[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>

    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitopportunity()" ng-disabled="Shopnow">Submit</button>
    </div>

</cart>
-->
<!-------------------------------------------------------------------------------->
<!-------------------------CALL_NOW model----------------------------------->
<!--
<cart title="Call_now" visible="showModalChat2">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal;">Name:</label>
            <input ng-model="missedcall[0].partnername" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="missedcall[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">E-mail:</label>
            <input ng-model="missedcall[0].partneremail" type="text" class="form-control" style="height: 30px;" />
        </div>
    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submit()" ng-disabled="Callnow">Submit</button>
    </div>

</cart>
-->
<!-----------------------------------Youtube--------------------------------------------->
<!--
<cart title="Youtube" visible="showModalChat3">
    <--<a href="http://www.youtube.com/watch?v=Nu9pt9QG4gA" target="_blank">
        <div style="display:inline;">
            <img src="images/Youtube-icon.png" style="width:38px; height:38px;" />
        </div>
    </a>-->
<!--   <div align="center">
        <iframe width="420" height="345" src="https://www.youtube.com/embed/Nu9pt9QG4gA"></iframe>
    </div>
</cart>
-->