<style>
    ::-webkit-scrollbar {
        width: .2em;
        /*    height: 2em*/
    }
    /*
::-webkit-scrollbar-button {
    background: #ddd
}
*/
    
    ::-webkit-scrollbar-track-piece {
        background: #f4f4f4
    }
    
    ::-webkit-scrollbar-thumb {
        background: #808080
    }
    
    h5 {
        padding: 0;
        margin: 0;
    }
    
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block;
    }
    
    @media (max-width:768px) {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
    }
    
    @media only screen and (min-width: 0px) and (max-width: 320px) {
        p {
            font-size: 10px;
        }
    }
</style>
<!--------------------------------------template---------------------------------------------->
<div class="desktop" ng-show="webact">
    <div class="col-sm-6" style="margin-left: 500px; margin-top:30px; position:relative">
        <div class="col-sm-6 image" style="width:50%;  background-image: url('images/iphone12.png'); background-repeat: no-repeat; background-size: 100% 100%; height:600px; margin-left: 15px">


            <div style="background:#ffffff;height:360px; border: 2px; solid grey; margin-left:3px; margin-top:72px; position:relative;height:455.5px; padding:2px; overflow-y:auto; overflow-x:hidden; z-index:1;margin-right:4px">
                <div align="center">
                    <!--                    <h4 style="padding-bottom: 2px; color:white;"> {{ campName }}</h4>-->
                    <h4 style="color:#666666;background:#80e5ff;padding:5px 10px;margin-top:5px;margin-bottom:5px">Wedding Booking</h4>

                </div>

                <div class="panel panel-default" style="margin-bottom:10px">
                    <video id="videodisplay" controls="controls" width="100%" height="150px" ng-src="" style="width:100%; height: 100%"></video>

                </div>
                <div class="container" class="form-control" style="width: 100%; height:120px;padding-left:5px;padding-right:5px" style="background: #f8fafb">
                    <!--                    <br>-->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="product in products track by $index" ng-class="{active:$first}"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox" style="background: #f8fafb">
                            <div class="item active">
                                <img ng-src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/mbrimages/download/{{productimages[0]}}" style="width: 100%; height: 140px">
                            </div>

                            <div ng-repeat="product in productimages track by $index" class="item" ng-if="!first">
                                <img ng-src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/mbrimages/download/{{product}}" style="width: 100%; height: 140px">
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a> width="150" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth"-->
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        // Activate Carousel
                        $("#myCarousel").carousel();

                        // Enable Carousel Indicators
                        $(".item").click(function () {
                            $("#myCarousel").carousel($index);
                        });
                    });
                </script>

                <br>

                <!--<div class="container-fluid bg-3 text-center" style="padding-left:5px;padding-right:5px;">
                    <h4 style="color:#666666;background:#80e5ff;padding:5px 10px;margin-top:5px;margin-bottom:5px;">Event Halls</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <p style="color:#808080;">Mehdi</p>
                            <img src="/images/ring.jpg" class="img-responsive" style="width:100%;border-radius:50%;height:90px;" alt="Image">
                        </div>
                        <div class="col-sm-4">
                            <p style="color:#808080;">Wedding</p>
                            <img src="/images/mandap.jpg" class="img-responsive" style="width:100%;border-radius:50%;height:90px;" alt="Image">
                        </div>
                        <div class="col-sm-4">
                            <p style="color:#808080;">Party</p>
                            <img src="/images/party-hall.jpg" class="img-responsive" style="width:100%;border-radius:50%;height:90px;" alt="Image">
                        </div>
                    </div>
                </div>
                <br/>-->
                <!----        <div style="width: 100%;padding: 10px;">
                    <table class="table table-bordered" style="border:1px solid #000;background:white;margin-bottom:0px;">
                        <tr>
                            <td style="border:1px solid #808080;">---->
                <!--<p style="margin:0; padding:0; text-align: center;">{{CampMessage}}</p>-->
                <!----                         <div align="center">
                                    <div style="cursor:pointer;margin:0; padding:0; text-align: center;" ng-click="toggleModalMisCal()">CALLBACK</div>
                                </div>
                            </td>
                            <td style="border:1px solid #808080;">
                                <div align="center">--->
                <!-- <button class="btn btn-success btn-sm btn-flat" style="margin:0; padding:0; text-align: left;">{{dispalycallOfAction}}</button>-->
                <!----                   <button type="submit" class="btn btn-success btn-sm btn-flat" ng-click="toggleModalChat()" style="margin:0; padding:0; text-align: left;">{{dispalycallOfAction}}</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>   --->
                <!--<div id="preview" style="width: 100%; height: 150px;">
                    <img id="image" ng-src='//converbiz-coke-api.herokuapp.com/api/v1/containers/mbrimages/download/{{campaign.imagename}}' src="/images/wedding1.jpg" style="width:100%; height: 100%;">
                </div>-->
                <br>
                <div ng-repeat="product in products track by $index">
                <div style="border-top:5px solid #ccc;border-bottom:5px solid #ccc" ng-if="$first">
                    <div class="row" style="margin-bottom:5px;margin-top:15px">
                        <div class="col-sm-4" style="padding-left:20px;padding-right:5px">
                            <img src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{product}}" class="img-responsive">
                        </div>
                        <div class="col-sm-8" style="padding-left:5px">
                            <p style="margin-bottom:1px;color:#666666">FOOD</p>
                            <p style="font-size:12px">Best quality of veg and non-veg foods</p>
                        </div>
                    </div>
                </div>
                <div style="border-bottom:5px solid #ccc" ng-if="!$first">
                    <div class="row" style="margin-bottom:5px;margin-top:15px">
                        <div class="col-sm-4" style="padding-left:20px;padding-right:5px">
                            <img src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{product}}" class="img-responsive">
                        </div>
                        <div class="col-sm-8" style="padding-left:5px">
                            <p style="margin-bottom:1px;color:#666666">Decoration</p>
                            <p style="font-size:12px">Book budget wedding banquet halls, function halls</p>
                        </div>
                    </div>
                </div>
            </div>
               <!-- <div style="border-bottom:5px solid #ccc;">
                    <div class="row" style="margin-bottom:5px;margin-top:15px;">
                        <div class="col-sm-4" style="padding-left:20px;padding-right:5px;">
                            <img src="/images/band.jpg" class="img-responsive">
                        </div>
                        <div class="col-sm-8" style="padding-left:5px;">
                            <p style="margin-bottom:1px;color:#666666;">Band</p>
                            <p style="font-size:12px;">Top quality sound and music collection for any ocassion</p>
                        </div>
                    </div>
                </div>-->
                <br>
                <div style="width:100%; height: auto; background-color:#80e5ff;text-align:center; padding-top:00px">
                    <span style="color:#666666">Share  with your friends</span>&nbsp; &nbsp;<img src="images/shareicon.png" style="width:25px;height:25px">
                </div>

                <div style="width:100%; height:auto; background-color:#2E5C8A; padding:00px">
                    <div style="width:100%; height:50px; background-color:white; line-height:50px; text-align:center">
                        <!--<div style="display:inline;" ng-Click="sendyoutube()">-->
                        <!--<a href="http://www.youtube.com/watch?v=Nu9pt9QG4gA" target="_blank">
                            <div style="display:inline;">
                                <img src="images/Youtube-icon.png" style="width:38px; height:38px;" />
                            </div>
                        </a>-->
                        <div style="display:inline" ng-click="sendyoutube()">
                            <img src="images/youtube2.png" style="width:35px; height:35px">
                        </div>

                        <div style="display:inline" ng-click="sendfacebook()">
                            <img src="images/fb-icon.png" style="width:40px; height:40px">
                        </div>

                        <div style="display:inline" ng-click="mail()">
                            <img src="images/mail-icon.png" style="width:40px; height:40px">
                        </div>
                        <div style="display:inline" ng-click="watsapp()">
                            <img src="images/whatsapp-icon.png" style="width:40px; height:40px">
                        </div>
                        <div style="display:inline" ng-click="message()">
                            <img src="images/messege-icon.png" style="width:40px; height:40px">
                        </div>
                    </div>
                </div>

                <!--  <form role="form">
                    <div class="form-group">
                        <label style="color:black;">Your Name:</label>
                        <input type="text" class="form-control" ng-model="tempcampaign.username" />
                    </div>

                    <div class="form-group" style="margin-top: -10px;">
                        <label style="color:black;">Phone Number:</label>
                        <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only" />
                    </div>
                    <div>
                        <button data-ng-click="submit()" type="submit" class="btn btn-success" ng-disabled="Submitted" style="width:100%;">Submit</button>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------MObile----------------------------------------------------->
<!--        <div class="mobile">   overflow-y:auto; overflow-x:hidden; z-index:1;  -->
<div class="mobile" ng-hide="mobact">
    <div style="background:#ffffff; height:360px; border: 2px; solid grey; margin-left: 00px; margin-top:00px; position:relative;height:768px; padding:2px">
        <div align="center">
            <!--                    <h4 style="padding-bottom: 2px; color:white;"> {{ campName }}</h4>-->
            <h4 style="color:#666666;background:#80e5ff;padding:5px 10px;margin-top:5px;margin-bottom:5px">Wedding Booking</h4>

        </div>

        <div class="panel panel-default" style="margin-bottom:10px">
            <video id="videodisplay1" controls="controls" width="100%" height="150px" ng-src="" style="width:100%; height: 100%"></video>

        </div>

        <div class="container" class="form-control" style="width: 100%;background: #f8fafb;height:140px;padding-left:5px;padding-right:5px">
            <!--            <br>-->
            <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel1" data-slide-to="{{$index}}" ng-repeat="product in products track by $index" ng-class="{active:$first}"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox" style="background: #f8fafb">
                            <div class="item active">
                                <img ng-src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/mbrimages/download/{{productimages[0]}}" style="width: 100%; height: 140px">
                            </div>

                            <div ng-repeat="product in productimages track by $index" class="item" ng-if="!first">
                                <img ng-src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/mbrimages/download/{{product}}" style="width: 100%; height: 140px">
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a> width="150" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth"-->
                    </div>
        </div>
        <script>
            $(document).ready(function () {
                // Activate Carousel
                $("#myCarousel1").carousel();

                // Enable Carousel Indicators
                $(".item").click(function () {
                    $("#myCarousel1").carousel($index);
                });
            });
        </script>

        <!--<div class="container-fluid bg-3 text-center" style="padding-left:5px;padding-right:5px;margin-top:3px;">
            <h4 style="color:#666666;background:#80e5ff;padding:5px 10px;margin-top:5px;margin-bottom:5px;">Event Halls</h4>
            <div class="row">
                <div class="col-xs-4">
                    <p style="color:#808080;">Mehdi</p>
                    <img src="/images/ring.jpg" class="img-responsive" style="width:100%;border-radius:50%;height:90px;" alt="Image">
                </div>
                <div class="col-xs-4">
                    <p style="color:#808080;">Wedding</p>
                    <img src="/images/mandap.jpg" class="img-responsive" style="width:100%;border-radius:50%;height:90px;" alt="Image">
                </div>
                <div class="col-xs-4">
                    <p style="color:#808080;">Party</p>
                    <img src="/images/party-hall.jpg" class="img-responsive" style="width:100%;border-radius:50%;height:90px;" alt="Image">
                </div>
            </div>
        </div>
        <br/>
        <div id="preview" style="width: 100%; height: 150px;">
            <img id="image" ng-src='//converbiz-coke-api.herokuapp.com/api/v1/containers/mbrimages/download/{{campaign.imagename}}' src="/images/wedding1.jpg" style="width:100%; height: 100%;">
        </div>-->
        <br>
        <div ng-repeat="product in products track by $index">
        <div class="row" style="margin-bottom:10px" ng-if="$first">
            <div class="col-xs-4" style="padding-left:20px;padding-right:5px">
                <img src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{product}}" class="img-responsive">
            </div>
            <div class="col-xs-8" style="padding-left:5px">
                <p style="margin-bottom:1px;color:#666666">FOOD</p>
                <p style="font-size:12px">Best quality of veg and non-veg foods</p>
            </div>
        </div>

        <div class="row" style="margin-bottom:10px" ng-if="!$first">
            <div class="col-xs-4" style="padding-left:20px;padding-right:5px">
                <img src="http://rajdhani-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{product}}" class="img-responsive">
            </div>
            <div class="col-xs-8" style="padding-left:5px">
                <p style="margin-bottom:1px;color:#666666">Decoration</p>
                <p style="font-size:12px">Book budget wedding banquet halls, function halls</p>
            </div>
        </div>
    </div>

        <!--<div class="row" style="margin-bottom:10px;">
            <div class="col-xs-4" style="padding-left:20px;padding-right:5px;">
                <img src="/images/band.jpg" class="img-responsive">
            </div>
            <div class="col-xs-8" style="padding-left:5px;">
                <p style="margin-bottom:1px;color:#666666;">Band</p>
                <p style="font-size:12px;">Top quality sound and music collection for any ocassion</p>
            </div>
        </div>-->

        <div style="width:100%; height: auto; background-color:#80e5ff;text-align:center; padding-top:5px;padding-bottom:5px">
            <span style="color:#666666">Share  with your friends</span>&nbsp; &nbsp;<img src="images/shareicon.png" style="width:25px;height:25px">
        </div>
        <!--------------------------------------------------------------->




        <div style="width:100%; height:auto">
            <div style="width:100%; height:50px;line-height:50px; text-align:center">
                <!--<div style="display:inline;" ng-Click="sendyoutube()">-->
                <!-- <a href="http://www.youtube.com/watch?v=Nu9pt9QG4gA" target="_blank">
                    <div style="display:inline;">
                        <img src="images/Youtube-icon.png" style="width:38px; height:38px;" />
                    </div>
                </a>-->
                <div style="display:inline" ng-click="sendyoutube()">
                    <img src="images/youtube2.png" style="width:34px; height:34px">
                </div>
                <div style="display:inline" ng-click="sendfacebook()">
                    <img src="images/fb-icon.png" style="width:40px; height:40px">
                </div>
                <div style="display:inline" ng-click="mail()">
                    <img src="images/mail-icon.png" style="width:40px; height:40px">
                </div>
                <div style="display:inline" ng-click="watsapp()">
                    <img src="images/whatsapp-icon.png" style="width:40px; height:40px">
                </div>
                <div style="display:inline" ng-click="message()">
                    <img src="images/messege-icon.png" style="width:40px; height:40px">
                </div>
            </div>
        </div>

        <!-- <form role="form">
            <div class="form-group">
                <label style="color:black;">Your Name:</label>
                <input type="text" class="form-control" ng-model="tempcampaign.username" />
            </div>

            <div class="form-group" style="margin-top: -10px;">
                <label style="color:black;">Phone Number:</label>
                <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only" />
            </div>
            <div>
                <button data-ng-click="submit()" type="submit" class="btn btn-success" ng-disabled="Submitted" style="width:100%;">Submit</button>
            </div>
        </form>-->
    </div>
</div>

<!-------------------------sharing model----------------------------------->

<cart title="Share" visible="showModalMisCal">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal">Name:</label>
            <input ng-model="partner.firstName" type="text" class="form-control" placeholder="Name" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">Mobile:</label>
            <input ng-model="partner.mobile" type="text" class="form-control" placeholder="Mobile number" maxlength="10" style="height: 30px">
        </div>
        <div>
            <label style="font-size:14px; font-weight: normal">Email:</label>
            <input ng-model="partner.email" type="text" class="form-control" placeholder="Email" style="height: 30px">
        </div>
    </div>
    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitmissedcall()">Submit</button>
    </div>

</cart>
<!-------------------------callback model----------------------------------->
<!--
<cart title="Callback" visible="showModalMisCal">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal;">Name:</label>
            <input ng-model="missedcall[0].partnername" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="missedcall[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">E-mail:</label>
            <input ng-model="missedcall[0].partneremail" type="text" class="form-control" style="height: 30px;" />
        </div>
    </div>

    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitmissedcall()">Submit</button>
    </div>

</cart>
-->

<!--------------------------------------End------------------------------------------------>
<!-------------------------CONTACT_US model----------------------------------->
<!--
<cart title="Contact_Us" visible="showModalChat">

    <div>
        <div>
            <label style="color:black;">Your Name:</label>
            <input type="text" class="form-control" ng-model="tempcampaign.username" />
        </div>
        <br/>
        <div class="form-group" style="margin-top: -10px;">
            <label style="color:black;">Phone Number:</label>
            <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only" />
        </div>
    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitcontactus()" ng-disabled="ContactUs">Submit</button>
    </div>
    -  ng-disabled="ContactUs"

</cart>
-->
<!-------------------------------------------------------------------------------->
<!-------------------------SHOP_NOW model----------------------------------->
<!--
<cart title="Shop_Now" visible="showModalChat1">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal;">Name:</label>
            <input ng-model="opportunity[0].opportunityname" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="opportunity[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>

    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitopportunity()" ng-disabled="Shopnow">Submit</button>
    </div>

</cart>
-->
<!-------------------------------------------------------------------------------->
<!-------------------------CALL_NOW model----------------------------------->
<!--
<cart title="Call_now" visible="showModalChat2">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal;">Name:</label>
            <input ng-model="missedcall[0].partnername" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="missedcall[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal;">E-mail:</label>
            <input ng-model="missedcall[0].partneremail" type="text" class="form-control" style="height: 30px;" />
        </div>
    </div>
    <br/>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submit()" ng-disabled="Callnow">Submit</button>
    </div>

</cart>
-->
<!-----------------------------------Youtube--------------------------------------------->
<!--
<cart title="Youtube" visible="showModalChat3">
    <--<a href="http://www.youtube.com/watch?v=Nu9pt9QG4gA" target="_blank">
        <div style="display:inline;">
            <img src="images/Youtube-icon.png" style="width:38px; height:38px;" />
        </div>
    </a>-->
<!--   <div align="center">
        <iframe width="420" height="345" src="https://www.youtube.com/embed/Nu9pt9QG4gA"></iframe>
    </div>
</cart>
-->