<style>
    ::-webkit-scrollbar {
        width: .2em;
        /* height: 2em*/
    }
   
    
    ::-webkit-scrollbar-track-piece {
        background: #f4f4f4
    }
    
    ::-webkit-scrollbar-thumb {
        background: #808080
    }
    
    h5 {
        padding: 0;
        margin: 0;
    }
 
    @media only screen and (min-width: 0px) and (max-width: 320px) {
        p {
            font-size: 10px;
        }
    }

</style>

<!--***** Gaja chnages style add *****-->
<style>
    .header {
        width: 100%;
        height: auto;
        background-color: #33db27;
        color: #000;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
    
    .search-bar {
        width: 100%;
        height: auto;
        background-color: #33db27;
        padding: 5px 0px;
        box-shadow: 0px 2px 3px #888888;
    }
    
    .banner .carousel-control {
        display: none;
    }
    
    .category {
        width: 100%;
        height: auto;
        background-color: #ddd;
        text-align: center;
        padding: 10px;
        /*cursor: pointer;*/
        cursor: default;
    }
    
    label {
        font-size: x-small;
    }
    
    .image-caption {
        width: 100%;
        height: auto;
        color: #292929;
        /*        background-color: #ddd;*/
        text-align: center;
        padding-bottom: 10px;
        /*        padding: 3px 0;*/
    }
   
</style>
<!-- ********* -->
<style>
   
    
    div > p {
        color: #ffffff;
        margin: 10px;
        font-size: 2em;
        margin-bottom: 0px;
    }
   
    .banner .carousel-indicators li {
        display: inline-block;
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: none !important;
        border-radius: 0px !important;
    }
    
    .banner .carousel-indicators .active {
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        background-color: rgba(0, 0, 0, 0);
        border: none !important;
        border-radius: 0px !important;
    }
    
    .post-content a {
        background: none repeat scroll 0 0 #3d94ff;
        opacity: 0.9;
        top: 20px;
        left: 60px;
        position: absolute;
        color: #ffffff;
        padding: 10px;
        border-radius: 100%;
        text-align: center;
    }
    
    .image-holder {
        margin-top: 10px;
    }
    
    .tumbnail {
        cursor: pointer;
    }

    .spacealign {
        padding: 3em;
    }
    
    input::-webkit-calendar-picker-indicator {
        opacity: 1;
    }
    
    .post-footer-option li {
        /*    float:left;*/
        /*    margin-right:50px;*/
        padding-bottom: 15px;
        display: inline;
        padding: 0% 1.5%;
    }
    
    .post-footer-option li a {
        color: #AFB4BD;
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    @media only screen and (max-width: 768px) {
        .image-caption {
            font-size: 9px;
        }
        .post-content a {
            background: none repeat scroll 0 0 #3d94ff;
            opacity: 0.9;
            /*            top: 20px;*/
            left: 110px;
            position: absolute;
            color: #ffffff;
            /*            padding: 15px;*/
            border-radius: 100%;
            width: 25%;
            height: 25%;
            font-size: 12px;
        }
        .spacealign {
            padding: 1em;
        }
    }
    
    body,
    .modal-open .page-container,
    .modal-open .page-container .navbar-fixed-top,
    .modal-open .modal-container {
        overflow-y: scroll;
    }
    
    @media (max-width: 979px) {
        .modal-open .page-container .navbar-fixed-top {
            overflow-y: visible;
        }
    }
    
    #map-canvas {
        height: 400px;
    }
    
    .socialspace {
        margin: 2px 5px;
    }

</style>

<!--star rating-->

<style>
  
    .glyphicon-star {
        color: #ffc822;
        font-size: 14px;
    }
    
    .glyphicon-star-empty {
        font-size: 14px;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .textshow {
        display: inline-flex;
        font-size: 15px;
        width: 12.9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>


<script>
    function googleOnLoadCallback() {

        var key = 'AIzaSyD3zq6e-BeWSf70mYQtsjfAOD8m6C_NQNc'

        var apisToLoad = 1; // must match number of calls to gapi.client.load()
        var gCallback = function() {
            if (--apisToLoad == 0) {
                //Manual bootstraping of the application
                //var $injector = angular.bootstrap(document, ["secondarySalesApp"]);
            };
        };
        gapi.client.setApiKey(key);
        gapi.client.load('urlshortener', 'v1', gCallback);
    }

</script>

<script src="//apis.google.com/js/client.js?onload=googleOnLoadCallback"></script>
<style>
    @media only screen and (min-width:400px)  {
 .hero 
     { 
         
         width: 94%;
     
     
     }}
     
     @media only screen and (min-width:1024px) {
        .hero 
     { 
         
         width: 89.3%;
     
     
     } 
         
 }
 @media only screen and (max-width:414px)  {
 .hero 
     { 
         
         width: 99%;
     
     
     }
    }
        .form-control
    {
        border-radius: 0px;
    }

</style>

<!-----------------------------------------MObile----------------------------------------------------->

<meta name="viewport" content=" user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div>
    <div class="row">
        <div class="col-xs-12">
            <div style="background:#ffffff; height:360px; border: 2px; solid grey; margin-left: 00px; margin-top:00px; position:relative;height:768px; padding:2px;oveflow:hidden">

                <div style="position:fixed;width:100%;z-index:1">
                    <div style="background-color: #1e1d2e;padding:10px">
                        <div class="pull-right">
                            <div id="dvDistance" style="color:#ffffff"></div>
                            <a href="#" style="color:#ffffff;font-size:18px" ng-click="getLocation()">
                                <img src="images/locationnew.png" style="width: 35px;padding: 5px">
                            </a>
                        </div>

                        <h4 style="color:#ffffff;margin:7px;font-family:Lato,sans-serif;font-weight:600;font-size:15px"><img src="images/prof_logo.png" id="profile_picture" style="border-radius:100%" ng-style="{'width':'40px', 'height':'40px'}">&nbsp;<label class="textshow" title="World Health Organization">{{Orgname}}</label></h4>
                    </div>

                    <div>
                        <div class="pull-right">
                            <a href="#" style="color:#6c6c6c;font-size:18px" ng-click="openorderCheckout()">
                                <img src="images/cartnew.png" style="width: 35px;padding:5px;margin-top:10px">
                                <label class="label label-primary ng-binding" style="border-radius:50%;margin-left:-15px">{{cartDisplay}}</label>
                            </a>
                        </div>
                       
                        <h4 style="color:#6c6c6c; background-color: #ffffff;padding:17px 10px; font-size:18px;margin:0px;font-family:Lato,sans-serif"> <a href="#" id="myWish" style="color:#6c6c6c" ng-click="openorderHistory()" title="Order History"><span><img src="images/orderlist.png" style="width: 35px;padding:5px;margin-top:-10px"></span></a>&nbsp;&nbsp;&nbsp;Welcome, {{userName}}
                </h4>

                    </div>
                    <div class="alert alert-warning" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        No Orders Found!
                    </div>
                </div>
              

                <div class="panel panel-default" style="margin-bottom:10px;margin-top:35%">
                    <video id="videodisplay1" poster="/images/videoscreen.png" controls="true" width="100%" height="230px" ng-src="{{mobvideo}}" style="width:100%; height:210px;background:#000000"></video>

                </div>

                <div class="container" class="form-control" style="width: 100%;background: #f8fafb;height:200px;padding-left:5px;padding-right:5px">
                    <div class="banner">
                        <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate" id="owl-demo">
                            <slide ng-repeat="product in productimages track by $index" active="slide.active">
                                <img ng-src="{{baseurl}}{{product}}" style="width:100%;height:190px;object-fit:contain" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open(product)">
                            </slide>
                        </carousel>
                    </div>
                </div>

                <br>
                
                <!--**************new chnages for product ************ -->
                <div class="row" style="margin:0">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" style="padding:0px;border:none;background:#ffffff;color:#6c6c6c;font-size:18px;padding-left:10px; font-weight: 600">Products</td>

                            </tr>
                            <tr>
                                <td ng-model="Cat">
                                    <div class="row" style="background:#ffffff">

                                        <div ng-repeat="product in NewdisplayPro track by $index">

                                            <div class="col-xs-6" style="border:1px solid #ccc">
                                                <!--  href="/Orderproduct" -->
                                                <div class="image-holder">
                                                    <div class="tumbnail">
                                                        <img src="{{baseurl}}{{product.productimage}}" style="width:100%;height:150px;object-fit:contain" ng-click="open1(product.productimage)">

                                                      
                                                        <div class="wrapper">
                                                            <div class="caption post-content">
                                                                <a>{{product.newoffer}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="image-caption">
                                                    <label title="World Health Organization" style="font-size:13px;white-space: nowrap; overflow: hidden;width: 12em;text-overflow: ellipsis;font-weight:normal">{{ product.productname}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width:100%; height: auto; background-color:#f2f2f2;text-align:center;  padding:16px 0px 16px 0px">

                    <span style="color:#6b6b6b; font-size: 12px">Thanks Folks, Share With Your Friends</span>
                    <!--------------------------------------------------------------->
                    <div style="margin:15px">
                        
                         <div style="width:100%; height:85px;line-height:65px; text-align:center;background:#ffffff;padding:10px">
                            <div class="socialspace" style="display:inline" ng-click="openSocialShare('fb')">
                                <img src="images/layer_10.png" style="width:40px; height:40px">
                            </div>
                            
                            <div class="socialspace" style="display:inline" ng-click="openSocialShare('twiter')">
                                <img src="images/layer_9.png" style="width:40px; height:40px">
                            </div>
                            <div class="socialspace" style="display:inline" ng-click="openSocialShare('mail')">
                                <img src="images/layer_11.png" style="width:40px; height:40px">
                            </div>
                            <div class="socialspace" style="display:inline" ng-click="openSocialShare('whatsapp')">
                                <img src="images/layer_13.png" style="width:40px; height:40px">
                            </div>
                            <div class="socialspace" style="display:inline" ng-click="openSocialShare('sms')">
                                <img src="images/layer_12.png" style="width:40px; height:40px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!-------------------------sharing model----------------------------------->


<!--*********************************************** popup Banner******************************************************-->
<script type="text/ng-template" id="template/pic-modal.html">
    <div class="modal-body2">
        <div class="img-group">
            <span aria-hidden="true" class="closebtn" ng-click="ok()" style="float:right;"><img src="images/cross-icon-web.png" style="width:30px;hieght:30px;margin:10px;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
            <img ng-src='{{baseurl}}{{categoryimage}}' alt="No Image" class="img-responsive" style="width:100%;height:250px;object-fit:contain;" />
            <div align="center" style="margin-top:-0px;">

                <br/>
                <div class="row" style="border:1px solid #f2f2f2;margin:0px;padding:5px;border-top:0px;color:#999999;">
                    <hr style="margin-top:0px;">
                    <div class="post-footer-option container" style="padding:0px;">
                        <ul class="list-unstyled">
                            <li ng-click="openinterested()"><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                        </ul>
                    </div>
                </div>
              

            </div>
        </div>

    </div>

</script>



<modal4 title="zzz" visible="showModallike">
    <div>

        <div>
            <label style="font-size:14px; font-weight: normal">Name:</label>
            <input ng-model="interested[0].partnername" type="text" class="form-control" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">Mobile:</label>
            <input ng-model="interested[0].partnermobile" type="text" class="form-control" style="height: 30px" maxlength="10" numbers-only="numbers-only">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">E-mail:</label>
            <input ng-model="interested[0].partneremail" type="text" class="form-control" style="height: 30px">
        </div>
    </div>
    <br>
    <div align="center">
        <a href="" data-ng-click="clearInterstdTextField()">Not You?</a>
    </div>
    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitinterested()">SUBMIT</button>
    </div>


</modal4>
<!--*********************************product 1*************************************-->

<script type="text/ng-template" id="template/pic-modal1.html">
    <div class="modal-body2">

        <div class="img-group ">
            <span aria-hidden="true" class="closebtn" ng-click="ok1()" style="float:right; "><img src="images/cross-icon-web.png" style="width:30px;hieght:30px;margin:10px;padding:5px;;
    border-radius: 4px;"></span><span class="sr-only">Close</span>
            <div style="padding-left:0em 3em">
                <img ng-src="{{baseurl}}{{categoryimage1}}" alt="No Image" class="img-responsive" style="width:100%;height:230px;object-fit:contain;" />
            </div>
            <div class="spacealign" align="center" style="margin-top:-0px;padding-top:0px;">
               
                <hr>
                <div style="text-align:left;">
                    <label style="font-size:18px;margin-top:0px;font-weight:600;">{{Name}}</label>
                </div>
                <div style="text-align:left;">
                    <span style="font-size:16px;margin-top:0px;">{{Discription}}</span>
                </div>
               
                <div style="padding:5px 0px;text-align:left;">

                    <span> <label style="font-size:14px;">
                    <rating style="float:left;" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>&nbsp;
                   <span style="font-weight:normal;">reviews</span></label>
                    </span>
                </div>
                <div style="padding-bottom:15px;">
                    <!--                    <h3 style="margin-top:0px;text-align:left;font-size:16px;">Unit &nbsp;{{Unit}}</h3>-->
                    <div class="row" style="text-align:left;">
                        <div class=" col-xs-7" style="">
                            <div class="form-group">



                                <img ng-click="decrement()" class='qtyminus' ng-disabled="qty<=0" src="images/minus_icon.png" style="width:25px;">
                                <input type='text' ng-model="qty" name='quantity' class='qty' style="width:50px;text-align:center;border:none;border-bottom:1px solid #e6e6e6;" />
                                <img ng-click="increment()" src="images/plus_icon.png" style="width:25px;">

                            </div>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success btn-lg" ng-click="opencart()" style="padding:7px 20px;background:#00d466;border-radius:0px;" ng-disabled="disableadd" ng-hide="addbutoon">ADD
                            </button>
                            <button type="button" class="btn btn-success btn-lg" ng-click="opencart()" style="padding:7px 20px;background:#00d466;border-radius:0px;" ng-disabled="disableadded" ng-show="addbutoon">ADDED
                            </button>
                        </div>

                    </div>
                </div>

                <div class="row" style="text-align:initial;margin:0px;">
                    <label style="font-size:16px;color:red">{{offerprsent}}</label>
                    <br/>
                    <label style="font-size:18px;"><strike style="color:#ccc" ng-if="oldPrice != totalamount">Rs {{oldPrice}}</strike>&nbsp;Rs {{totalamount}}</label>
                    <label>
                        <h3 style="margin-top:0px;text-align:left;font-size:18px;padding-left:20px;">&nbsp;{{Unit}}</h3></label>
                </div>

            </div>
        </div>
    </div>
</script>

<!--  **************************************Sharing Popup************************************* -->


<modal9 title="User Details" visible="showModalSharingpopup">
    <div>
        <div class="row" style="padding-top:20px">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="Enter Your Mobile Number" id="mobile" data-ng-model="partner.mobile" maxlength="10" numbers-only="numbers-only" style="height:50px;border-left:none;border-top:none;border-right:none; box-shadow:none;border-radius:0px">
      </div>
    </div>
    
   <div class="row" style="padding-top:5px">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
      <input type="text" class="form-control" placeholder="Enter Your Name" id="name" data-ng-model="partner.firstName" style="color:black;height:50px;border-left-style:none;border-top-style:none;border-right-style:none;box-shadow:none;border-radius:0px">
      </div>
    </div>
    
 <div class="row" style="padding-top:15px">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10">
       <button type="proceed" class="form-control btn btn-success" style="background-color:#0e6ee3; border-color: #0e6ee3;border-radius:0px;height:50px" ng-disabled="disableproceed" data-ng-click="SocialshareLaunch()">PROCEED</button>
      </div>
    </div>
    <br>
        
          <div class="row" style="margin:0px">
        <dv class="col-xs-1"></dv>
            <div class="col-xs-5" style="padding-right:0px;margin-left:-15px">
            <div for="points" style="background-color:#6bd16c">
              
                <div class="pull-left" style="margin:10px">
                   <span><img src="images/iconrefer.png" style="width:25px;height:30px;margin-top:px"></span>
                </div>
            <div style="padding:2px">
               <p style="text-align:center;color:white;font-size:12px;margin:0px !important;padding-bottom: 10px">00 <br> POINTS</p>
                </div>
            
            </div>
        </div>
        <div class="col-xs-6" style="padding-left:5px;margin-top:7px;margin-left:-7px">
            <div class="hero">
       <button type="refer" class="form-control btn btn-success" style="color:#6bd16c; ;background-color:white;border-color:1px solid#ccc;border-radius:0px;height:35px">REFER NOW</button>
            </div>
      </div>
    </div>
    
   <br>
     <div class="row">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
       <p style="padding-left:10px;height:10px;text-align:center; color:#000;margin:0px !important;font-size:13px">Earn Points Just By Refering Us! </p>
    <div class="col-xs-1"></div>
         </div>
    </div>
        
        <div class="row" style="margin-top:5px" ng-hide="hideSubscribeMsg">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
      <p style="padding-left:10px;height:10px;text-align:center;color:#000;font-size:13px">To Unsubscribe Cookies<a href="" style="padding-left:10px;height:10px;text-align:center" ng-click="confirmdeltePopup()">- ClickHere</a> </p>
    <div class="col-sm-1"></div>
         </div>
         
    </div>

    </div>

    <br>
    
    <div>

  <div class="container box-footer" ng-hide="hidecokkoiesMsg" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p style="font-size:12px">By clicking any link on this page you are giving your consent for us to set cookies.</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="closeMsg()">OK, I agree</button>
            </div>
    </div>
    <div class="container box-footer" ng-hide="ConfirmDeletecookies" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p style="font-size:12px">If you want to clear you details from Cookies</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="deleteCookies()">Clear </button>
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="Cancelclear()">Cancel </button>
            </div>
    </div>
        </div>

</modal9>



<!--****************************************************END****************************************************************-->
<!---<meta name="viewport" content="width=device-width; initial-scale = 1.0; 
maximum-scale=1.0; user-scalable=no" /> 

<style>
     .banner .carousel-control {
        display: none;
    }
    
    .banner .carousel-indicators li {
        display: inline-block;
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #d4c4b8 !important;
        border-radius: 0px !important;
    }
    
    .banner .carousel-indicators .active {
       background-color: #fff !important;
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        background-color: #fff;
        border: 1px solid #fff !important;
        border-radius: 0px !important;
    }
    
     
 .form-control
    {
        border-radius: 0px;
    }
    
   .textshow {
        display: inline-flex;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    @media only screen and (min-width:400px)  {
 .hero 
     { 
         width: 94%;
     }}
     
     @media only screen and (min-width:1024px) {
        .hero 
     { 
         width: 89.3%;
     } 
         
 }
 @media only screen and (max-width:414px)  {
 .hero 
     { 
         width: 99%;
     }
    }   
</style>


 
<div>
<div class="box box-info" style=" height:100%;border-color:#2874f0;overflow:hidden;">
<div class="row">
 
    <div class="col-xs-2"></div>
    
    <div class="col-xs-8 col-sm-12" style="padding:5px;"  >
    
        <h4 style="color:#000000;font-weight:600;font-size:16px;height:20px;text-align:center;" ><label class="textshow"  title="World Health Organization" >{{Orgname}}</label></h4>
    
    </div>
    <div class="col-xs-2 "></div>
   </div>

    <div class="banner">
        <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate">
            <slide ng-repeat="banner in bannerDisplay track by $index" active="slide.active">
                <img ng-src="{{baseurl}}{{banner}}" style="width:100%;height: 180px;object-fit:contain;" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open(product)">
            </slide>
        </carousel>
    </div>
                 
    
 
  <div class="row"style="padding-top:20px;">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10"  >
      <input type="text" class="form-control" placeholder="Enter Your Mobile Number" id="mobile"  data-ng-model="partner.mobile" maxlength="10" numbers-only="numbers-only" style="height:50px;border-left:none;border-top:none;border-right:none; box-shadow:none;border-radius:0px;">
      </div>
    </div>
    
   <div class="row" style="padding-top:5px;">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10"  >
      <input type="text" class="form-control" placeholder="Enter Your Name" id="name" data-ng-model="partner.firstName" style=" color:black;height:50px;border-left-style:none;border-top-style:none;border-right-style:none;box-shadow:none;border-radius:0px; ">
      </div>
    </div>
    
 <div class="row" style="padding-top:15px;">
 
      <div class="col-xs-1"></div>
        <div class="col-xs-10"  >
       <button type="proceed" class="form-control btn btn-success" style="background-color:#0e6ee3; border-color: #0e6ee3;border-radius:0px;height:50px;" ng-disabled="disableproceed" data-ng-click="submitshare()" >PROCEED</button>
      </div>
    </div>
    <br/>
    <div class="row" style="margin:0px; ">
        <dv class="col-xs-1"></dv>
            <div class="col-xs-5" style="padding-right:0px;margin-left:-15px;">
            <div for="points" style="background-color:#6bd16c;padding-right:15px;">
              
                <div class="pull-left" style="margin:10px;">
                   <span ><img src="images/iconrefer.png" style="width:25px;height:30px;margin-top:px;"></span>
                </div>
            <div style="padding:2px; ">
               <p style="text-align:center;color:white;font-size:12px">00 <br/> POINTS</p>
                </div>
            
            </div>
        </div>
        <div class="col-xs-6" style="padding-left:5px;margin-top:7px;margin-left:-7px  " >
            <div class="hero">
       <button type="refer" class="form-control  btn btn-success" style=" color:#6bd16c; ;background-color:white;border-color:1px solid#ccc;border-radius:0px;height:35px; ">REFER NOW</button>
            </div>
      </div>
    </div>
    
    <br/>
     <div class="row">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12"  >
       <p style="padding-left:10px;height:10px;text-align:center" >Earn Points Just By Refering Us! </p>
    <div class="col-xs-1"></div>
         </div>
    </div>
    
     <div class="row" style="margin-top:5px;" ng-hide="hideSubscribeMsg">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12"  >
      <p style="padding-left:10px;height:10px;text-align:center;" >To Unsubscribe Cookies<a href="" style="padding-left:10px;height:10px;text-align:center;" ng-click="confirmdeltePopup()">-ClickHere</a> </p>
    <div class="col-sm-1"></div>
         </div>
         
    </div>


    </div>
    <br/>
    
     <div class="container box-footer" ng-hide="hidecokkoiesMsg" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px;">
                <div style="color: #fff;">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p>By clicking any link on this page you are giving your consent for us to set cookies.</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff;">
                <button type="button" class="btn btn-default" style=" font-weight: 600;" ng-click="closeMsg()">OK, I agree</button>
            </div>
    </div>
    <div class="container box-footer" ng-hide="ConfirmDeletecookies" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px;">
                <div style="color: #fff;">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p>If you want to clear you details from Cookies</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff;">
                <button type="button" class="btn btn-default" style=" font-weight: 600;" ng-click="deleteCookies()">Clear </button>
                <button type="button" class="btn btn-default" style=" font-weight: 600;" ng-click="Cancelclear()">Cancel </button>
            </div>
    </div>
 </div>-->