<!--<style>
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 1px !important;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #d4c4b8 !important;
        border-radius: 0px !important;
    }
    
    .carousel-indicators .active {
        width: 12px;
        height: 1px !important;
        margin: 1px;
        background-color: #fff;
        border: 1px solid #fff !important;
    }
    
    .form-control {
        border-right: none;
        border-left: none;
        border-top: none;
    }

</style>--->


<!--****************************************Sharing page*******************************************-->
<!-- <div class="box-body">
    <form class="form-horizontal" role="form">
        <div style="width:100%; height:auto; background:#ffffff;color:#000000; padding:10px;">
            <div style="width:100%;text-align:center;height:55px;line-height:60px;">
                <span style="color:#000000;"><h4>This Campaign is Send By your Friend - {{ UserNameDisplay}}  </h4></span>
            </div>
            <div align="center">
                <h4>Do you want to proceed</h4>
            </div>
           <div align="center">
                <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="OpenEntry()" data-ng-hide="Yesbutton">YES  </a>
            </div>
            <div data-ng-hide="OpenEntryform">
                
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label" style="font-weight:600;">Mobile:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="mobile" data-ng-model="partner.mobile" placeholder="Enter your mobile number" maxlength="10" numbers-only="numbers-only">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label" style="font-weight:600;">Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="name" data-ng-model="partner.firstName" placeholder="Enter your Name">
                    </div>
                </div>
                <div class="form-group" align="center">
                    <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="submitshare()"> Go </a>
                </div>
            </div>
        </div>
    </form>
</div> ----->

<!--******************************************-->
<!--- <div class="box box-info" style=" height:auto;border-color:#2874f0;margin-top:5px;">
    <div class="row">

        <div class="col-xs-3"></div>

        <div class="col-xs-6" style="padding:20px;">

            <h4 style="color:#000000;font-weight:600;height:20px;">{{Orgname}}</h4>

        </div>
        <div class="col-xs-3"></div>
    </div>
    
<div class="container" class="form-control" style="width: 100%; height:200px;padding-left:18px;padding-right:5px;" style="background: #f8fafb;">

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="banner in bannerDisplay track by $index" ng-class="{active:$first}"></li>
            </ol>


            <div class="carousel-inner" role="listbox" style="background: #f8fafb;">
                <div class="item active">
                    <img ng-src='{{baseurl}}{{bannerDisplay[0]}}' style="width: 100%; height: 220px;">
                </div>

                <div ng-repeat="banner in bannerDisplay track by $index" class="item" ng-if="!first">
                    <img ng-src='{{baseurl}}{{banner}}' style="width: 100%; height: 220px;">
                </div>
            </div>



        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item").click(function() {
                $("#myCarousel").carousel($index);
            });
        });

    </script>

    <br/>
    <br/>
    <div class="row">

        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          
            <input type="text" class="form-control" id="mobile" data-ng-model="partner.mobile" placeholder="Enter your mobile number" maxlength="10" numbers-only="numbers-only" style="text-align:center;color:black;height:50px;">
        </div>
    </div>

    <br/>
    <div class="row">

        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            
            <input type="text" class="form-control" id="name" data-ng-model="partner.firstName" placeholder="Enter your Name" style="text-align:center;color:black;height:50px;">
        </div>
    </div>

    
    <br/>
    <div class="row" style="margin:0px;">

             <div class="col-xs-1"></div>
        <div class="col-xs-10"  >
       <button type="proceed" class="form-control btn btn-success" style="background-color:#0e6ee3; border-color:1px solid#ccc;border-radius:0px;height:50px;"  data-ng-click="submitshare()">PROCEED</button>
      </div>
    </div>
    <br/>
    <div class="row" style="margin:0px;">
        <dv class="col-xs-1"></dv>
            <div class="col-xs-5" style="padding-right:0px;margin-left:-15px;">
            <div for="points" style="background-color:#6bd16c;padding-right:15px;padding:3px">
              
                <div class="pull-left" style="margin:10px;">
                   <span ><img src="images/iconrefer.png" style="width:25px;height:25px;margin-top:7px;"></span>
                </div>
            <div style="padding:7px;">
               <p style="text-align:center">00 <br/> points</p>
                </div>
            
            </div>
        </div>
        <div class="col-xs-6" style="padding-left:0px;margin-top:5px;padding-left:-10px;margin-left:-5px" >
       <button type="refer" class="form-control  btn btn-success" style=" color:#6bd16c; ;background-color:white;border-color:1px solid#ccc;border-radius:0px;height:60px; ">REFER NOW</button>
      </div>
        
        
    </div>
    
    <br/>
     <div class="row">
      <div class="col-xs-2"></div>
        <div class="col-xs-10"  >
       <p    style="padding-left:10px;height:10px;" >Earn Points Just By Refering Us! </p>
    
        </div>
    </div>
</div>-->

<!--********************************************************************-->

<meta name="viewport" content="width=device-width; initial-scale = 1.0; 
maximum-scale=1.0; user-scalable=no">

<style>
/*
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 1px !important;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #d4c4b8 !important;
        border-radius: 0px !important;
    }
*/
     .banner .carousel-control {
        display: none;
    }
    
     .banner .carousel-indicators li {
        display: inline-block;
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #d4c4b8 !important;
        border-radius: 0px !important;
    }
    
    .banner .carousel-indicators .active {
       background-color: #fff !important;
        width: 21px !important;
        height: 1px !important;
        margin: 0px 5px !important;
        background-color: #fff;
        border: 1px solid #fff !important;
        border-radius: 0px !important;
    }
     
    
    
    .form-control {
        border-radius: 0px;
    }
/*
  .textshow {
        display: inline-flex;
        font-size: 15px;
        width: 12.9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
*/
    .textshow {
        display: inline-flex;
        font-size: 15px;
/*        width: 12.9em;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<div>
    <div class="box box-info" style="height:100%;border-color:#2874f0;overflow:hidden">
        
        <h3 style="color:#000000;text-align:center;font-size:14px">This Campaign is Referred By your Friend - {{ UserNameDisplay}}</h3>
        <div class="row">

            <div class="col-xs-2">


            </div>

            <div class="col-xs-8 col-sm-12">

<!--                <h4 style="color:#000000;font-weight:600;font-size:16px;height:20px;margin:0px;white-space: nowrap; overflow: hidden;width:100%;text-overflow: ellipsis;text-align:center;">{{Orgname}}</h4>-->
                 <h4 style="color:#000000;font-weight:600;font-size:16px;height:20px;text-align:center"><label class="textshow" title="World Health Organization">{{Orgname}}</label></h4>

            </div>
            <div class="col-xs-2"></div>
        </div>


        <div class="banner">
        <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate">
            <slide ng-repeat="banner in bannerDisplay track by $index" active="slide.active">
                <img ng-src="{{baseurl}}{{banner}}" style="width:100%;height: 180px;object-fit:contain" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open(product)">
            </slide>
        </carousel>
    </div>


        <div class="row" style="padding-top:20px">

            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="Enter Your Mobile Number" id="mobile" data-ng-model="partner.mobile" maxlength="10" numbers-only="numbers-only" style="height:50px;border-left:none;border-top:none;border-right:none; box-shadow:none;border-radius:0px">
            </div>
        </div>

        <div class="row" style="padding-top:5px">

            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="Enter Your Name" id="name" data-ng-model="partner.firstName" style="color:black;height:50px;border-left-style:none;border-top-style:none;border-right-style:none;box-shadow:none;border-radius:0px">
            </div>
        </div>

        <div class="row" style="padding-top:15px">

            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <button type="proceed" class="form-control btn btn-success" style="background-color:#0e6ee3; border-color:#0e6ee3;border-radius:0px;height:50px" ng-disabled="disableproceed" data-ng-click="submitshare()">PROCEED</button>
            </div>
        </div>
        <br>
        <div class="row" style="margin:0px">
            <dv class="col-xs-1"></dv>
            <div class="col-xs-5" style="padding-right:0px;margin-left:-15px">
                <div for="points" style="background-color:#6bd16c;padding-right:15px">

                    <div class="pull-left" style="margin:10px">
                        <span><img src="images/iconrefer.png" style="width:25px;height:30px;margin-top:px"></span>
                    </div>
                    <div style="padding:2px">
                        <p style="text-align:center;color:white;font-size:12px">00
                            <br> POINTS</p>
                    </div>

                </div>
            </div>
            <div class="col-xs-6" style="padding-left:5px;margin-top:7px;margin-left:-7px">
                <button type="refer" class="form-control btn btn-success" style="color:#6bd16c; ;background-color:white;border-color:1px solid#ccc;border-radius:0px;height:35px">REFER NOW</button>
            </div>
        </div>

        <br>
     <div class="row">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
       <p style="padding-left:10px;height:10px;text-align:center">Earn Points Just By Refering Us! </p>
    <div class="col-xs-1"></div>
         </div>
    </div>
<!-- *********** -->

     <div class="row" style="margin-top:5px" ng-hide="hideSubscribeMsg">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
      <p style="padding-left:10px;height:10px;text-align:center">To Unsubscribe Cookies<a href="" style="padding-left:10px;height:10px;text-align:center" ng-click="confirmdeltePopup()">-ClickHere</a> </p>
    <div class="col-sm-1"></div>
         </div>
         
    </div>

<!-- ************ -->
    </div>
    <br>
    
     <div class="container box-footer" ng-hide="hidecokkoiesMsg" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p>By clicking any link on this page you are giving your consent for us to set cookies.</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="closeMsg()">OK, I agree</button>
            </div>
    </div>
    <div class="container box-footer" ng-hide="ConfirmDeletecookies" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p>If you want to clear you details from Cookies</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="deleteCookies()">Clear </button>
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="Cancelclear()">Cancel </button>
            </div>
    </div>
 </div>