<style>
    h4 {
        padding: 15px;
        background: #ffffff;
        color: #6b6b6b;
    }
    
    h5 {
        padding: 0px 15px;
        color: #878787;
    }
    
    h5 a {
        color: #d13434;
        font-size: 12px;
    }
    
    input {
        border: none;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 0px;
/*        width: 95%;*/
    }
    
    button:active,
    buttun:focus {
        background: #00b356;
    }
    
    .table > tbody > tr > td {
        font-size: 10px;
    }
    
    .table > thead > tr > th {
        font-size: 12px;
    }
    
/*
    #table-scroll {
        height: 280px;
        overflow: auto;
        margin-top: 20px;
    }
*/
    
/*
    #fixedbutton {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
*/
.textshow {
        display: inline-flex;
/*        font-size: 20px;*/
        width: 12.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<!--========================================-->

<div class="box box-info">
   
   <!-- <div style="position:fixed;width:100%;z-index:1;background:#ffffff;">

        <h4 style="background:#1e1d2e;color:#ffffff;margin-top:0px; text-align:center;">Order History</h4>
        
    </div>-->
    
    <div class="row" style="margin:0px;background:#1e1d2e; margin-bottom:10px">
            <div class="col-xs-10">
                <h4 class="textshow" style="background:#1e1d2e;color:#ffffff;padding:12px;margin:0px;padding-left:0px">Order History</h4>
            </div>
            <div class="col-xs-2" style="padding-top :12px;color:#ffffff;background:#1e1d2e">
                <img src="images/cross-icon-web.png" style="box-shadow:0px 0px 4px 3px #4d4d4d; width:20px; height:20px" ng-click="orderHistoryclose()">
            </div>
 </div>
   
    
  
    <div id="spinner"></div>
    
<!--   <div  style=" background:#e6f2ff;color:#1a1a1a;width:100%;padding:10px 0px;">-->
     
                                                  
         <div class="textshow">                     
        <label style="font-size:12px;font-weight:normal"></label>&nbsp;&nbsp;<span style="font-weight:600;font-size:13px;white-space: nowrap; overflow: hidden;width: 12em;text-overflow: ellipsis">{{OrgName}} </span>
 </div>
       <span style="float:right">
       <label><img src="images/layer_24.png" style="width: 15px">&nbsp;</label><span style="font-weight:600;padding-right:15px; font-size:12px"><a style="color:#1a1a1a" href="tel:{{contactNo}}">{{contactNo}}</a></span>
           </span>
       
<!--    </div>-->
   
      
     
<!--    -->
    
    <div class="table-responsive">
<!-- <table class="table table-bordered">-->
            <table class="table table-striped">
            <thead>
                <tr>
<!-- <th style="width:50px;">Sl No.</th>-->
                    <th>Order No</th>
                    <th>Order Date</th>
                    <!--<th>Name</th>
                    <th>Mobile</th>-->
                    <th>Item </th>
                    <th>Amount</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="ordersummary in ordersummaries | itemsPerPage:10" pagination-id="table1">
<!--                    <td>{{ ordersummary.index }}</td>-->
                    <td><a href="" ng-click="DisplyOrders(ordersummary.id)">{{ ordersummary.ordernumber }}
                        </a></td>
                    <td>{{ ordersummary.orderstartdate | date : 'dd-MMM-yyyy' }}</td>
                    <!--<td>{{ ordersummary.partnername }}</td>
                    <td>{{ ordersummary.partnermobile }}</td>-->
                   
                    <td>{{ ordersummary.quantity }}</td>
                    
                    <td><i class="fa fa-inr" aria-hidden="true"></i> {{ ordersummary.totalamount }}</td>
                    <td>{{ ordersummary.status }}</td>
<!--                    <td><a href="" ng-click="DisplyCancleOrders(ordersummary.id)">{{ ordersummary.status }}</a></td>-->
<!--                    <td data-ng-init="status = getstatus(ordersummary.orderstatus)">{{ status.name }}</td>-->
                </tr>
            </tbody>
        </table>
         </div>
        <br>
 <div style="padding:0px 15px">
        <div align="right">
            <dir-pagination-controls max-size="10" pagination-id="table1" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        
<!--
        <div ng-show="!ordersummaries.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">No orders found</span>
            
        </div>
        <br/>
-->
           
</div>
    
</div>

<!--*************MOdel*******-->
<modal6 title="Order List" visible="showModalOrderhistory">
<!--
    <modal-header title="Order List">

    </modal-header>
-->

    <modal-body>
        <div id="spinner"></div>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                   
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Select &nbsp;<input name="selectedall" type="checkbox" ng-model="selectedAll" ng-click="checkAll(selectedAll)"></th>
<!--                     <th>Select &nbsp;<input type="checkbox" ng-model="checkedAll" ng-change="selectAll($event)"></th>-->
                    <!--  <th>Action</th>-->
                </tr>
            </thead>

            <tbody>
                <tr dir-paginate="order in orders |itemsPerPage:10" pagination-id="table2">
<!--                    <td>{{ order.index }}</td>-->
                     <td><img src="{{baseurl}}{{order.productimage}}" style="width:90px;height:80"><span style="padding-bottom:0px;color:#292929 text-align:center"><br><b>{{order.productname}}</b><br>{{order.unitmeasurement}}</span></td>
<!--                    <td>{{order.productname}}</td>-->
                    <td>{{order.quantity}}</td>
                    <td>{{order.totalamount}}</td>
                    <td><input class="eventCheckbox" type="checkbox" ng-model="order.enabled" id="{{order.enabled}}" value="{{order.id}}" name="select" ng-click="checked()"></td>
                    
                </tr>
            </tbody>
        </table>
            

        <div align="right">
            <dir-pagination-controls max-size="10" pagination-id="table2" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
        </div>
        <br>
        <br>

    </modal-body>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="form-control" style="background-color:#00d466;border-radius:0px;color:white; text-align:center;height:40px" ng-disabled="disablereorder" ng-click="Reorder()">Click Here To Re-Order</button>

        </div>
       
    </div>

<!--
    <modal-footer>

        <div align="center">
            <button type="button" class="btn btn-success" ng-click="Reorder()">Click Here to Re-Order</button>
        </div>

    </modal-footer>
-->

</modal6>




<modal7 title="Alert" visible="showModalConfirmreorder">

    <modal-body>
        <div style="padding:15px;text-align:center"> Please select atleast 1 item to Re-Order</div>
    </modal-body>
   
        <div align="center" style="padding:20px">
        <button type="submit" class="btn btn-success btn-sm" ng-click="openConfirm()">OK</button>
<!--        <button type="submit" class="btn btn-danger btn-sm" ng-click="confirmclose()">Cancle</button>-->
    </div>
       


</modal7>

<modal8 title="Order Cancelled" visible="showModalCancledorder">

    <modal-body>
        <div style="padding:15px;text-align:center"> Due to long distance this order has been canclled!</div>
    </modal-body>
   
        <div align="center" style="padding:20px">
        <button type="submit" class="btn btn-success btn-sm" ng-click="CancleOrder()">OK</button>
<!--        <button type="submit" class="btn btn-danger btn-sm" ng-click="confirmclose()">Cancle</button>-->
    </div>
       


</modal8>