<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
    .orderUserDetails-page {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    
    .header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
        border-bottom: 1px solid #eee;
    }
    
    .header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .order-details {
        padding: 15px;
    }
    
    input {
        font-family: Lato;
        padding: 10px;
        border: 0;
        border-bottom: 1px solid #cfd0db;
        font-size: 18px;
        color: #cfd0db;
    }
    
    input:focus {
        outline: none;
    }
    
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #cfd0db;
    }
    
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #cfd0db;
    }
    
    :-ms-input-placeholder {
        /* IE 10+ */
        color: #cfd0db;
    }
    
    :-moz-placeholder {
        /* Firefox 18- */
        color: #cfd0db;
    }
    
    .order-button {
        width: 100%;
        height: auto;
        background-color: #00d569;
        text-align: center;
        color: #fff;
        font-family: Lato;
        padding: 15px;
        font-weight: bold;
        font-size: 20px;
    }

</style>
<div class="orderUserDetails-page">
    <div class="header">
        <div class="row" style="margin:0">
            <div class="col-xs-12">
                <h4>Order Details</h4>
            </div>
        </div>
    </div>
    <div class="order-details">
        <br>
        <div>
            <input type="text" placeholder="Name" style="width:100%">
        </div>
        <br>
        <div>
            <input type="text" placeholder="Contact Number" style="width:100%">
        </div>
        <br>
        <div>
            <input type="text" placeholder="Email Address" style="width:100%">
        </div>
        <br>
        <div>
            <input type="text" placeholder="Pin Code" style="width:100%">
        </div>
        <br>
        <div>
            <input type="text" placeholder="Address" style="width:100%">
        </div>
    </div>
    <div style="position:fixed;bottom:0;width:100%;height:auto">
        <div class="order-button">
            <span>Order Now</span>
        </div>
    </div>
</div>