<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<style>
    html,
    body {
        height: 100%;
        background-color: #eeeeee;
    }
    
    .orderReview-page {
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
    }
    
    .header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
    }
    
    .header h4 {
        color: #6c6c6c;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        line-height: 35px;
    }
    
    .sub-header {
        width: 100%;
        height: auto;
        background-color: #1f1e30;
        padding: 12px;
        font-family: Lato;
    }
    
    .sub-header h4 {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
    }
    
    .sub-header span {
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        font-family: Lato;
        font-weight: bold;
    }
    
    .sub-header sup {
        margin-top: 5px;
    }
    
    .products-list {
        margin-top: 10px;
    }
    
    .row.row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #fff;
    }
    
    .flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    
    .flex-item {
        /*background: #eee;*/
        margin: 1px;
    }
    
    .flex-item-1 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .flex-item-2 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .flex-item-3 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .product-name h4 {
        color: #292929;
        margin: 0;
        font-size: 20px;
        font-family: Lato;
        font-weight: bold;
    }
    
    .product-quantity .price_discount {
        color: #d33434;
        font-size: 12px;
        font-family: Lato;
    }
    
    .product-quantity .old-price {
        color: #888888;
        margin: 0;
        font-size: 13px;
        font-family: Lato;
        text-decoration: line-through;
    }
    
    .product-quantity .new-price {
        color: #1f1e30;
        margin: 0;
        font-size: 15px;
        font-family: Lato;
        font-weight: bold;
    }
    
    .delivery-header {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 12px;
        font-family: Lato;
    }
    
    .delivery-header h4 {
        color: #888888;
        margin: 0;
        font-size: 12px;
        font-family: Lato;
    }
    
    .delivery-header span {
        color: #888888;
        margin: 0;
        font-size: 14px;
        font-family: Lato;
        font-weight: bold;
    }
    
    .checkout-button {
        width: 100%;
        height: auto;
        background-color: #00d569;
        text-align: center;
        color: #fff;
        font-family: Lato;
        padding: 15px;
        font-weight: bold;
        font-size: 20px;
    }

</style>
<div class="orderReview-page">
    <div class="header">
        <div class="row" style="margin:0">
            <div class="col-xs-12">
                <h4>Reivew Your Order</h4>
            </div>
        </div>
    </div>
    <div class="sub-header">
        <div class="row" style="margin:0">
            <div class="col-xs-9">
                <h4>1 item</h4>
            </div>
            <div class="col-xs-3" style="text-align:right">
                <span><sup>Rs</sup>205</span>
            </div>
        </div>
    </div>
    <div style="margin-bottom:110px">
        <div class="products-list">
            <div class="row row-eq-height" style="margin:0;border-bottom:1px solid #ccc">
                <div class="col-xs-4" style="padding:0">
                    <img src="images/food-ordering/product1.jpg" style="width:100%;max-width:250px;min-width:100px;height:100%">
                </div>
                <div class="col-xs-8 flex-container" style="padding:0">
                    <div class="product-name flex-item flex-item-1">
                        <div class="row" style="margin:0">
                            <div class="col-xs-10" style="padding-top: 15px">
                                <h4>Chow Chow Bath</h4>
                            </div>
                            <div class="col-xs-2" style="padding-top: 15px;text-align:right">
                                <span class="glyphicon glyphicon-trash" style="font-size:20px;color:#888888"></span>
                            </div>
                        </div>
                        <div style="padding-left:15px;font-family:Lato;color:#888888">
                            <span>Fresh</span>
                        </div>
                    </div>
                    <div class="product-quantity flex-item flex-item-2" style="padding-left: 15px">
                        <div style="margin-top:5px">
                            <span class="price_discount">10.25% OFF</span>
                        </div>
                        <div>
                            <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                        </div>
                    </div>
                    <div class="flex-item flex-item-3" style="padding-left:15px;padding-top:15px;padding-bottom:15px">
                        <select class="form-control input-sm" style="width:50px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-list">
            <div class="row row-eq-height" style="margin:0;border-bottom:1px solid #ccc">
                <div class="col-xs-4" style="padding:0">
                    <img src="images/food-ordering/product1.jpg" style="width:100%;max-width:250px;min-width:100px;height:100%">
                </div>
                <div class="col-xs-8 flex-container" style="padding:0">
                    <div class="product-name flex-item flex-item-1">
                        <div class="row" style="margin:0">
                            <div class="col-xs-10" style="padding-top: 15px">
                                <h4>Chow Chow Bath</h4>
                            </div>
                            <div class="col-xs-2" style="padding-top: 15px;text-align:right">
                                <span class="glyphicon glyphicon-trash" style="font-size:20px;color:#888888"></span>
                            </div>
                        </div>
                        <div style="padding-left:15px;font-family:Lato;color:#888888">
                            <span>Fresh</span>
                        </div>
                    </div>
                    <div class="product-quantity flex-item flex-item-2" style="padding-left: 15px">
                        <div style="margin-top:5px">
                            <span class="price_discount">10.25% OFF</span>
                        </div>
                        <div>
                            <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                        </div>
                    </div>
                    <div class="flex-item flex-item-3" style="padding-left:15px;padding-top:15px;padding-bottom:15px">
                        <select class="form-control input-sm" style="width:50px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-list">
            <div class="row row-eq-height" style="margin:0;border-bottom:1px solid #ccc">
                <div class="col-xs-4" style="padding:0">
                    <img src="images/food-ordering/product1.jpg" style="width:100%;max-width:250px;min-width:100px;height:100%">
                </div>
                <div class="col-xs-8 flex-container" style="padding:0">
                    <div class="product-name flex-item flex-item-1">
                        <div class="row" style="margin:0">
                            <div class="col-xs-10" style="padding-top: 15px">
                                <h4>Chow Chow Bath</h4>
                            </div>
                            <div class="col-xs-2" style="padding-top: 15px;text-align:right">
                                <span class="glyphicon glyphicon-trash" style="font-size:20px;color:#888888"></span>
                            </div>
                        </div>
                        <div style="padding-left:15px;font-family:Lato;color:#888888">
                            <span>Fresh</span>
                        </div>
                    </div>
                    <div class="product-quantity flex-item flex-item-2" style="padding-left: 15px">
                        <div style="margin-top:5px">
                            <span class="price_discount">10.25% OFF</span>
                        </div>
                        <div>
                            <span class="old-price">Rs 85</span>&nbsp;&nbsp;&nbsp;&nbsp; <span class="new-price">Rs 75</span>
                        </div>
                    </div>
                    <div class="flex-item flex-item-3" style="padding-left:15px;padding-top:15px;padding-bottom:15px">
                        <select class="form-control input-sm" style="width:50px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position:fixed;bottom:0;width:100%;height:auto">
    <div class="delivery-header">
        <div class="row" style="margin:0">
            <div class="col-xs-8">
                <h4>Standard delivery by morning</h4>
            </div>
            <div class="col-xs-4" style="text-align:right">
                <span>7:00 am</span>
            </div>
        </div>
    </div>
    <a href="/order-user-details">
        <div class="checkout-button">
            <span>Checkout</span>
        </div>
    </a>
</div>