<style>
    .header {
        width: 100%;
        height: auto;
        background-color: #4dbd45;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
    
    .sub-header {
        width: 100%;
        height: auto;
        background-color: #f7f7f7;
        color: #000;
        text-align: center;
        padding: 5px 0;
        font-size: 11px;
    }
    
    .category-list {
        width: 100%;
        height: auto;
        background-color: #ddd;
        padding: 5px 5px 0px 5px;
    }
    
    .category-list ul {
        display: inline-block;
        overflow: auto;
        overflow-y: hidden;
        max-width: 100%;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }
    
    .category-list ul li {
        list-style: none;
        display: inline-block;
        background-color: #fff;
        padding: 10px;
        font-size: 10px;
        /*line-height: 8px;*/
        vertical-align: top;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .category-list ul::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background: transparent;
    }
    
    .products-count {
        width: 100%;
        height: auto;
        background-color: #f7f7f7;
        color: #777;
        padding: 8px 0;
        display: block;
        margin-bottom: 7px;
        box-shadow: 0px 2px 7px #ccc;
    }
    
    .row.row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    
    .flex-item {
        /*background: #eee;*/
        margin: 1px;
    }
    
    .flex-item-1 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .flex-item-2 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .flex-item-3 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

</style>

<div style="width:100%;height:auto;position:relative">
    <div class="header">
        <div class="header-name">Handy Basket</div>
    </div>
    <div class="sub-header">
<!--        <div class="sub-header-name">Fruits & Vegetables</div>-->
    </div>
    <div class="category-list">
        <ul id="D2">
            <li>
                <!--SHOP BY CATEGORY-->
                <div class="form-group">
                    <div class="col-sm-2">
                        <select ui-select2="" id="zoneId" ng-model="Category" data-placeholder="SELECT CATEGORY" style="width: 150px">
<!--                            <option value=""></option>-->
                            <option value="" disabled="disabled" selected="selected">Shop by Category</option>
                           
                            <option data-ng-repeat="itemcategory in itemcategories" value="{{itemcategory.id}}">{{ itemcategory.name }}</option>
                        </select>
                    </div>
                </div>
            </li>
            <li>
                <!--SELECT SUB-CATEGORY-->
            <div class="form-group">
                    <div class="col-sm-2">
                        <select ui-select2="" id="zoneId" ng-model="Type" data-placeholder="SELECT SUB-CATEGORY" style="width: 150px">
<!--                            <option value=""></option>-->
                            <option value="" disabled="disabled" selected="selected">Select Sub-Category</option>
                           
                            <option data-ng-repeat="itemtype in itemtypes" value="{{itemtype.id}}">{{ itemtype.name }}</option>
                        </select>
                    </div>
                </div></li>
<!--
            <li>Fresh Herbs & Seasoning</li>
            <li>Fresh Fruits</li>
-->
        </ul>
    </div>
    <div class="products-count">
        <div class="row" style="margin:0">
            <div class="col-xs-6" style="text-align:left">{{campaignproductviews.length}} products</div>
            <div class="col-xs-6" style="text-align:right"><span class="glyphicon glyphicon-filter"></span></div>
        </div>
    </div>
    <div class="products">
        <div class="row row-eq-height" style="margin:0;border-bottom:1px solid #ccc" ng-repeat="list in campaignproductviews">
            <div class="col-xs-4">
<!--                <a href="/productDetails"><img src="{{list.image}}" style="width:100%;max-width:250px;min-width:100px;height:auto;" /></a>-->
                <a href="/productDetails/{{list.productid}}"><img src="{{baseurl}}{{list.productimage}}" style="width:100%;max-width:250px;min-width:100px;height:auto"></a>
            </div>
            <div class="col-xs-8 flex-container">
                <div class="product-name flex-item flex-item-1">
<!--                    <span><b>{{list.productName}}</b></span>-->
                    <span><b>{{list.productname}}</b></span>
                </div>
               <!-- <div class="product-quantity flex-item flex-item-2">
                    <table class="table" style="height:100%;margin:0;">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px;">
                                    <select class="form-control input-sm" id="sel1">
                                        <option>1 Kg</option>
                                        <option>2 Kg</option>
                                        <option>3 Kg</option>
                                        <option>4 Kg</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>--->
                    <!-- *******unit******* -->
                <div class="product-quantity flex-item flex-item-2">
                <div> {{list.unitname}}</div>
                </div>
                <!-- ********************* -->
                
                <div class="flex-item flex-item-3">
                    <table class="table" style="height:100%;margin:0">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px"><span><b> <strike style="color:red">Rs: {{list.actualprice}}</strike></b></span></td>
                                <td style="border:none;vertical-align:middle;padding:3px"><span><b>Offer Price Rs:{{ list.presentprice}}</b></span></td>
                                <td style="border:none;vertical-align:middle;text-align:right;padding:0">
                                    <ngcart-addtocart id="{{list.id}}" name="{{list.name}}" price="{{list.actualprice}}" quantity="1" quantity-max="5" data="list" imagename="{{baseurl}}{{list.productimage}}" unit="{{list.unitname}}" nowprice="{{list.presentprice}}">Add</ngcart-addtocart>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="position:fixed;bottom:0;width:100%;height:auto;background:#333">
    <table class="table" style="height:100%;margin:0">
        <tbody>
            <tr>
                <td style="border:none;vertical-align:middle;background:#333;color:#fff">
                    <span style="font-size:12px">STANDARD: Tomarrow, 5.00 PM to 7.30 PM</span>
                </td>
                <td ng-click="openCartModal('md')" style="border:none;vertical-align:middle;text-align:right;background:#e8153b;color:#fff">
                    <span class="glyphicon glyphicon-shopping-cart" style="font-size:18px;position:relative">
                        <span class="badge" style="position:absolute;top:-8px;left:-10px;font-size:8px;background:#428bca"><ngcart-summary></ngcart-summary>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="cartModal.html">
    <style>
        .modal-header {
            padding: 10px !important;
            background-color: #33db27 !important;
            font-weight: 600 !important;
        }
        
        .modal-body {
            position: relative;
            padding: 10px;
        }
        .modal-footer {
    /* padding: 15px; */
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

    </style>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeCartModal()">&times;</button>
        <h4 class="modal-title">Review your order</h4>
    </div>
    <div class="modal-body">
        <ngcart-cart></ngcart-cart>
        
    </div>
</script>

<script type="text/ng-template" id="template/ngCart/summary.html">
    {{ ngCart.getTotalItems() }}
    <!--<ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>-->
</script>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-sm btn-primary" ng-disabled="true" ng-transclude></a>

    </div>
    <div ng-show="attrs.id">
        <div align="right">
            <span ng-show="quantityMax">
            <select  name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>

            <a class="btn btn-xs btn-danger" ng-click="ngCart.addItem(id, name, price, q, data, imagename, unit, nowprice)" ng-transclude></a>

            <a ng-show="inCart()" ng-click="ngCart.removeItemById(id)"><span class="glyphicon glyphicon-trash" style="color:red;"></span></a>

        </div>

    </div>
</script>

<script type="text/ng-template" id="template/ngCart/cart.html">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
        Your cart is empty
    </div>
    <div class="products" ng-show="ngCart.getTotalItems() > 0">
<!--  <h4 class="modal-title">Review your order</h4> -->
        <div class="row row-eq-height" style="margin:0;border-bottom:1px solid #ccc;" ng-repeat="item in ngCart.getCart().items track by $index">
            <div class="col-xs-4">
                <a href="/productDetails"><img src="{{item._imagename}}" style="width:100%;max-width:250px;min-width:100px;height:auto;" /></a>
            </div>
            <div class="col-xs-8 flex-container">
                <div class="product-name flex-item flex-item-1">
                    <!--<span><b>{{item.getName()}}</b></span>-->
                    <table class="table" style="height:100%;margin:0;">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px;"><span><b>{{item.getName()}}</b></span></td>
                                <td style="border:none;vertical-align:middle;text-align:right;padding:0;">
                                    <span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-trash" style="color: red;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="product-quantity flex-item flex-item-2">
                    <table class="table" style="height:100%;margin:0;">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px;">
                                    <span>{{item.getUnit()}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item flex-item-3">
                    <table class="table" style="height:100%;margin:0;">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px;"><span><b><strike style="color:red;">Rs: {{item.getPrice()}}</strike></b></span></td>
                                <td style="border:none;vertical-align:middle;padding:3px;"><span><b>Offer Price: {{item.getTotal()}}</b></span></td>
                                <!--{{item._data.offerprice}}-->
                                <td style="border:none;vertical-align:middle;text-align:right;padding:0;">
                                    <span class="label label-danger">
                                    <span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span> {{ item.getQuantity() | number }}
                                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="SaveAcc()">Checkout</button>
       
    </div>
    <!--<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

        <table class="table table-striped ngCart cart">

            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Price (Rs)</th>
                    <th>Total (Rs)</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr ng-show="ngCart.getTax()">
                    <td></td>
                    <td></td>
                    <td>Tax (Rs)({{ ngCart.getTaxRate() }}%):</td>
                    <td>{{ ngCart.getTax()}}</td>
                    <td></td>
                </tr>
                <tr ng-show="ngCart.getShipping()">
                    <td></td>
                    <td></td>
                    <td>Delivery Charge (Rs):</td>
                    <td>{{ ngCart.getShipping() }}</td>
                    <td></td>
                </tr>
                <tr ng-show="ngCart.getPacking()">
                    <td></td>
                    <td></td>
                    <td>Packing Cost (Rs):</td>
                    <td>{{ ngCart.getPacking() }}</td>
                    <td></td>
                </tr>
                <tr style="background-color: lightgrey;">
                    <td></td>
                    <td></td>
                    <td>
                        <h3 style="margin:0; padding: 0;">Total (Rs):</h3>
                    </td>
                    <td>
                        <h3 style="margin:0; padding: 0;">{{ ngCart.totalCost() }}</h3>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="item in ngCart.getCart().items track by $index">
                    <td><img src="{{item.getData().image}}" style="width:50px;height:50px;" />{{ item.getName() }}</td>
                    <td style="position: relative;">
                        {{ item.getQuantity() | number }}
                        <span class="glyphicon glyphicon-chevron-up" ng-click="item.setQuantity(1, true)" style="position: absolute; display:block; margin-left: 15px; margin-top: 4px;"></span><span class="glyphicon glyphicon-chevron-down" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)" style="position: absolute; display:block;margin-left: 14px; margin-top: 15px;"></span>
                    </td>
                    <td>{{ item.getPrice() }}</td>
                    <td>{{ item.getTotal() }}</td>
                    <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove" style="color: red;"></span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>-->

</script>

<script>
    (function() {
        function scrollHorizontally(e) {
            e = window.event || e;
            var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
            document.getElementById('D2').scrollLeft -= (delta * 40); // Multiplied by 40
            e.preventDefault();
        }
        if (document.getElementById('D2').addEventListener) {
            // IE9, Chrome, Safari, Opera
            document.getElementById('D2').addEventListener("mousewheel", scrollHorizontally, false);
            // Firefox
            document.getElementById('D2').addEventListener("DOMMouseScroll", scrollHorizontally, false);
        } else {
            // IE 6/7/8
            document.getElementById('D2').attachEvent("onmousewheel", scrollHorizontally);
        }
    })();

</script>