<style>
    h4 {
        padding: 15px;
        background: #ffffff;
        color: #6b6b6b;
    }
    
    h5 {
        padding: 0px 15px;
        color: #878787;
    }
    
    h5 a {
        color: #d13434;
        font-size: 12px;
    }
    
    input {
        border: none;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 0px;
        width: 95%;
    }
    
    button:active,
    buttun:focus {
        background: #00b356;
    }
    
    .table > tbody > tr > td {
        font-size: 10px;
    }
    
    .table > thead > tr > th {
        font-size: 12px;
    }
    
    #table-scroll {
        height: 280px;
        overflow: auto;
        margin-top: 20px;
    }
    
    #fixedbutton {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

</style>

<!--========================================-->

<div class="box box-info">
    <div style="position:fixed;width:100%;z-index:1;background:#ffffff">
        <h4 style="font-size:25px;margin:0px">Review Your Order</h4>
        <h4 style="background:#1e1d2e;color:#ffffff;margin-top:0px">{{totalitem}} Items<span class="pull-right"><label style="font-size:14px;font-weight:normal">Rs</label> <span style="font-weight:600">{{totalPrice}}</span></span></h4>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="spinner"></div>
    <div ng-repeat="product in showCart">
        <div class="row" style="margin:0px;padding-bottom:20px">

            <span aria-hidden="true" title="Remove" class="closebtn" ng-disabled="disableremove" ng-click="removecart(product.id, $index)" style="float:right;margin-top:10px"><span class="glyphicon glyphicon-trash" style="color: #9d9eb3; padding-right: 15px"></span></span><span class="sr-only">Close</span>

            <div class="col-xs-4">
                <img src="{{baseurl}}{{product.productimage}}" style="padding-top:15px; width:100px;height:auto">

            </div>

            <div class="col-xs-6" style="padding-left:10px">
                <h4 style="padding-bottom:0px;color:#292929;font-weight:bold">{{product.productname}}</h4>

                <h5><a>{{product.offerprsent}}</a></h5>
                <h5 style="font-weight:600"><strike style="color:black"></strike> &nbsp;Rs {{product.totalamount}}</h5>

                <div style="padding-left:0px">
                    <div class="pull-right">

                    </div>

                </div>

            </div>

        </div>
        <div class="row" style="margin:0px; border-bottom:1px solid #e6e6e6;padding-bottom:15px">

            <div class="col-xs-10">

                <img ng-click="decrement($index)" class="qtyminus" ng-disabled="qty<=0" src="images/minus_icon.png" style="width:25px">
                <input type="text" ng-model="product.quantity" name="quantity" class="qty" ng-disabled="true" style="width:30px;text-align:center;border:none;border-bottom:1px solid #e6e6e6">

                <img ng-click="increment($index)" src="images/plus_icon.png" style="width:25px">
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div id="fixedbutton" style="background-color: #00d466;text-align: center;color:#ffffff">
        <!--
        <a href="" ng-click="orderopen()">
            <label style="margin-top: 7px;font-size:25px;font-weight:normal color:white;">CHECKOUT</label>
        </a>
-->
        <button type="button" class="form-control" style="background-color:#00d466;border-radius:0px;color:white; text-align:center;height:50px;font-weight:normal" ng-click="orderopen()">CONFIRM DELIVERY ADDRESS</button>

    </div>
</div>


<!--*************************************************-->


<modal2 title="Delivery Address" visible="showModalorder">

    <div class="modal-body" style="padding:0px">

        
       
        <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div>

<span style="color:#ee3322">*</span>&nbsp;<input type="text" ng-model="order.partnername" id="name" placeholder="Name">
                </div>
            </div>

        </div>
        
         <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div>
                    <span style="color:#ee3322">*</span>&nbsp;<input type="text" ng-model="order.partnermobile" id="mobile" placeholder="Contact number" maxlength="10" numbers-only="numbers-only">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div>
                    &nbsp;&nbsp;
                    <input type="text" ng-model="order.partneremail" id="email" placeholder="Email address">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div>
                    &nbsp;&nbsp;
                    <input type="text" ng-model="order.shippingaddress" id="address1" placeholder="Address1">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div>
                    &nbsp;&nbsp;
                    <input type="text" ng-model="order.shippingaddressone" id="address2" placeholder="Address2">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:20px">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div>
                    &nbsp;&nbsp;
                    <input type="text" ng-model="order.zipcode" id="name" placeholder="Pin Code" maxlength="6" numbers-only="numbers-only">
                </div>
            </div>
        </div>
<br>
          <div class="row" style="margin-top:5px" ng-hide="hideSubscribeMsg">
      <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-12">
      <p style="padding-left:10px;height:10px;text-align:center;color:#000;font-size:13px">To Unsubscribe Cookies<a href="" style="padding-left:10px;height:10px;text-align:center" ng-click="confirmdeltePopup()">- ClickHere</a> </p>
    <div class="col-sm-1"></div>
         </div>
         
    </div>
    </div>
    <br>
<div>
<div class="container box-footer" ng-hide="hidecokkoiesMsg" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4 style="background: #0e6ee3; padding: 0px"><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p style="font-size:12px">By clicking any link on this page you are giving your consent for us to set cookies.</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="closeMsg()">OK, I agree</button>
            </div>
    </div>
    <div class="container box-footer" ng-hide="ConfirmDeletecookies" style="background:#0e6ee3; box-shadow:0px -4px 8px #262626;border-radius:8px">
                <div style="color: #fff">
               <h4 style="background: #0e6ee3; padding: 0px"><label>We use cookies on this site to enhance your user experience</label></h4>
                    <p style="font-size:12px">If you want to clear you details from Cookies</p> 
            </div>
            <div class="modal-footer" style="border-top: 1px solid #33adff">
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="deleteCookies()">Clear </button>
                <button type="button" class="btn btn-default" style="font-weight: 600" ng-click="Cancelclear()">Cancel </button>
            </div>
    </div>
    <br>
     <br>
     <br>
     <br>
     <br>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="form-control" style="background-color:#00d466;border-radius:0px;color:white; text-align:center;height:50px" ng-click="confirmorder()">CHECKOUT</button>

        </div>
    </div>
    </div>
</modal2>



<!--****************Order Summary***************-->

<modal5 title="Order Summary" visible="showModalconfirm">

    <div class="modal-body" style="padding:0px">

        <div class="box-body" style="padding:2px">
            <div class="table-responsive" id="table-scroll">
                <table class="table table-bordered">
                    <thead>

                        <tr>
                            <th>Item Type</th>
                            <th style="width:70px">Qty</th>
                            <th style="width:70px">Price</th>
                            <th style="width:70px">Amount</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="product in showCart">
                            <td><img src="{{baseurl}}{{product.productimage}}" style="width:90px;height:80"><span style="padding-bottom:0px;color:#292929"><br>{{product.productname}}<br>{{product.unitname}}</span></td>
                            <td style="text-align:center">{{product.quantity}}</td>
                            <td style="text-align:center">{{product.presentprice}}</td>
                            <td style="text-align:center">{{product.totalamount}}</td>
                        </tr>

                        <tr>
                            <th colspan="3" style="border:none"> Total Amount </th>
                            <th style="border:none">Rs {{totalPrice}}</th>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div>
        <table class="table">
        <thead>
            <tr><th style="border:none;float:left"><span style="font-size:14px">Delivery Address</span></th>
            
             <td style="border:none">{{order.partnername}} <br>{{order.shippingaddress}}, {{order.shippingaddressone}}, {{order.zipcode}}</td>
            </tr>
            </thead>
        </table>

        <label style="padding-left:10px">Payment Method</label>
    </div>

    <h4 style="margin:0px;color:#337ab7;padding-top:0px;padding-left:25px"><span class="glyphicon glyphicon-ok" style="font-size: 12px"></span><span style="padding:7px;font-size: 14px;font-weight: 600">Cash On Delivery</span></h4>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="form-control" style="background-color:#00d466;border-radius:0px;color:white; text-align:center;height:50px" ng-disabled="disablesubmit" ng-click="submitorder()">SUBMIT</button>

        </div>
    </div>
</modal5>