<style>
    .header {
        width: 100%;
        height: auto;
        background-color: #4dbd45;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
    
    .product-details-header {
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 2px 7px #ccc;
        background-color: #efefef;
    }
    
    .product-details-header .product-name {
        padding: 10px;
        font-weight: 600;
        font-size: 16px;
    }
    
    .product-details-header .product-weights {
        padding: 10px;
    }
    
    .product-details-header .product-price {
        padding: 10px;
    }
    
    .carousel-control {
        visibility: hidden;
    }
    
    .row.row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .flex-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
    
    .flex-item {
        /*background: #eee;*/
        margin: 1px;
    }
    
    .flex-item-1 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .flex-item-2 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    
    .flex-item-3 {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

</style>

<div class="header">
    <div class="header-name">Handy Basket</div>
</div>
<div class="product-details-header" ng-repeat="list in campaignproductviews">
<!--
    <div class="product-name">
        <span>Onion</span>
        </div>
-->
    <div class="col-xs-6">
    <div class="product-name">
        <b style="margin-left: 30px">{{list.productname}}</b>
        <br>
        <img src="{{baseurl}}{{list.productimage}}" style="width:100%;max-width:250px;min-width:100px;height:auto">
            </div>
    </div>
    <div class="col-xs-6">
    <!--<div class="product-weights">
        <select class="form-control input-sm" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>-->
        <div class="product-weights">
            <div> {{ list.unitname }}</div>
        </div>
        
    <div class="product-price">
        <table class="table" style="height:100%;margin:0">
            <tbody>
                <tr>
                    <td style="border:none;vertical-align:middle;padding:3px"><span><b><strike style="color:red">Rs: {{list.actualprice}}</strike></b></span></td>
                       <td style="border:none;vertical-align:middle;padding:3px"><span><b>Offer Price Rs: {{list.presentprice}}</b></span></td>
                    <td style="border:none;vertical-align:middle;text-align:right;padding:0">
                        <button class="btn btn-danger btn-xs">Add</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<!--- <div class="product-image-wrapper">
    <carousel interval="3000" no-wrap="false" set-ng-animate="$parent.animate">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="width:100%;height:auto;" class="nonDraggableImage" ng-swipe-right="next()" ng-swipe-left="prev()" ng-click="open($index)">
        </slide>
    </carousel>
</div> --->
<div>
    <v-tabs class="vTabs--default" horizontal="" active="activeTabIndex">
        <v-tab ng-repeat="page in pages" ng-bind="page.title"></v-tab>
    </v-tabs>

    <v-pages class="vPages--default" active="activeTabIndex">
        <v-page ng-repeat="page in pages" ng-bind="page.description"></v-page>
    </v-pages>

</div>
<div style="position:fixed;bottom:0;width:100%;height:auto;background:#333">
    <table class="table" style="height:100%;margin:0">
        <tbody>
            <tr>
                <td style="border:none;vertical-align:middle;background:#333;color:#fff">
                    <span style="font-size:12px">STANDARD: Tomarrow, 5.00 PM to 7.30 PM</span>
                </td>
                <td ng-click="openCartModal('md')" style="border:none;vertical-align:middle;text-align:right;background:#e8153b;color:#fff">
                    <span class="glyphicon glyphicon-shopping-cart" style="font-size:18px;position:relative">
                        <span class="badge" style="position:absolute;top:-8px;left:-10px;font-size:8px;background:#428bca"><ngcart-summary></ngcart-summary>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="cartModal.html">
    <style>
        .modal-header {
            padding: 10px !important;
            background-color: #33db27 !important;
            font-weight: 600 !important;
        }
        
        .modal-body {
            position: relative;
            padding: 10px;
        }

    </style>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeCartModal()">&times;</button>
        <h4 class="modal-title">Order Summary</h4>
    </div>
    <div class="modal-body">
        <ngcart-cart></ngcart-cart>
    </div>
</script>
<script type="text/ng-template" id="template/ngCart/summary.html">
    {{ ngCart.getTotalItems() }}
    <!--<ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>-->
</script>
<script type="text/ng-template" id="template/ngCart/cart.html">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
        Your cart is empty
    </div>
    <div class="products" ng-show="ngCart.getTotalItems() > 0">
        <div class="row row-eq-height" style="margin:0;border-bottom:1px solid #ccc;" ng-repeat="item in ngCart.getCart().items track by $index">
            <div class="col-xs-4">
                <a href="/productDetails"><img src="{{item._imagename}}" style="width:100%;max-width:250px;min-width:100px;height:auto;" /></a>
<!--                {{item.getData().image}}-->
            </div>
            <div class="col-xs-8 flex-container">
                <div class="product-name flex-item flex-item-1">
                    <span><b>{{item.getName()}}</b></span>
                </div>
                <div class="product-quantity flex-item flex-item-2">
                    <table class="table" style="height:100%;margin:0;">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px;">
                                    <span>{{item.getUnit()}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-item flex-item-3">
                    <table class="table" style="height:100%;margin:0;">
                        <tbody>
                            <tr>
                                <td style="border:none;vertical-align:middle;padding:3px;"><span><b><strike style="color:red;">Rs: {{item.getPrice()}}</strike></b></span></td>
                                <td style="border:none;vertical-align:middle;padding:3px;"><span><b>Offer Price: {{item.getTotal()}}</b></span></td>
                                <!-- <td style="border:none;vertical-align:middle;padding:3px;"><span><b>Rs {{item.getTotal()}}</b></span></td>-->
                                <td style="border:none;vertical-align:middle;text-align:right;padding:0;">
                                    <span class="label label-danger">
                                    <span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span> {{ item.getQuantity() | number }}
                                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="table-responsive" ng-show="ngCart.getTotalItems() > 0">

        <table class="table table-striped ngCart cart">

            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Price (Rs)</th>
                    <th>Total (Rs)</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr ng-show="ngCart.getTax()">
                    <td></td>
                    <td></td>
                    <td>Tax (Rs)({{ ngCart.getTaxRate() }}%):</td>
                    <td>{{ ngCart.getTax()}}</td>
                    <td></td>
                </tr>
                <tr ng-show="ngCart.getShipping()">
                    <td></td>
                    <td></td>
                    <td>Delivery Charge (Rs):</td>
                    <td>{{ ngCart.getShipping() }}</td>
                    <td></td>
                </tr>
                <tr ng-show="ngCart.getPacking()">
                    <td></td>
                    <td></td>
                    <td>Packing Cost (Rs):</td>
                    <td>{{ ngCart.getPacking() }}</td>
                    <td></td>
                </tr>
                <tr style="background-color: lightgrey;">
                    <td></td>
                    <td></td>
                    <td>
                        <h3 style="margin:0; padding: 0;">Total (Rs):</h3>
                    </td>
                    <td>
                        <h3 style="margin:0; padding: 0;">{{ ngCart.totalCost() }}</h3>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="item in ngCart.getCart().items track by $index">
                    <td><img src="{{item.getData().image}}" style="width:50px;height:50px;" />{{ item.getName() }}</td>
                    <td style="position: relative;">
                        {{ item.getQuantity() | number }}
                        <span class="glyphicon glyphicon-chevron-up" ng-click="item.setQuantity(1, true)" style="position: absolute; display:block; margin-left: 15px; margin-top: 4px;"></span>
                        
                        <span class="glyphicon glyphicon-chevron-down" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)" style="position: absolute; display:block;margin-left: 14px; margin-top: 15px;"></span>
                    </td>
                    <td>{{ item.getPrice() }}</td>
                    <td>{{ item.getTotal() }}</td>
                    <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove" style="color: red;"></span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>-->

</script>