<style>
    h5 {
        padding: 0;
        margin: 0;
    }
    
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block;
    }
    
    @media (max-width:768px) {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
    }

</style>
<!--------------------------------------template---------------------------------------------->
<div class="desktop" ng-show="webact">
    <div class="col-sm-6" style="margin-left: 500px; margin-top:30px; position:relative">
        <div class="col-sm-6 image" style="width: 50%;  background-image: url('images/iphone5_frame.png'); background-repeat: no-repeat; background-size: 100% 100%; height:600px; margin-left: 15px">


            <div style="background: #2E5C8A; height:360px; border: 2px; solid grey; margin-left: 5px; margin-top:74px; position:relative;height:440px; padding:2px; overflow-y:auto; overflow-x:hidden; z-index:1">
                <div align="center">
                    <h4 style="padding-bottom: 2px; color:white"> {{ campName }}</h4>
                </div>

                <div>
                    <video id="videodisplay" controls="controls" width="100%" height="150px" ng-src="{{trustSrc(generateURL(campRes.videoname))}}" style="width:100%; height: 100%"></video>
                </div>
                <br>

                <div id="preview" style="width: 100%; height: 150px">
                    <img id="image" ng-src="//converbiz-coke-api.herokuapp.com/api/v1/containers/mbrimages/download/{{campaign.imagename}}" style="width:100%; height: 100%">
                </div>

                <div style="width: 100%;padding: 10px">
                    <table class="table table-bordered" style="border:1px solid #000;background:white;margin-bottom:0px">
                        <tr>
                            <td style="border:1px solid #808080">
                                <!--<p style="margin:0; padding:0; text-align: center;">{{CampMessage}}</p>-->
                                <div align="center">
                                    <div style="cursor:pointer;margin:0; padding:0; text-align: center" ng-click="toggleModalMisCal()">CALLBACK</div>
                                </div>
                            </td>
                            <td style="border:1px solid #808080">
                                <div align="center">
                                    <!-- <button class="btn btn-success btn-sm btn-flat" style="margin:0; padding:0; text-align: left;">{{dispalycallOfAction}}</button>-->
                                    <button type="submit" class="btn btn-success btn-sm btn-flat" ng-click="toggleModalChat()" style="margin:0; padding:0; text-align: left">{{dispalycallOfAction}}</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="container" class="form-control" style="width: 100%; height: 120px" style="background: #f8fafb">
                    <br>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="campaignproduct in campaignproducts" ng-class="{active:$first}"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox" style="background: #f8fafb">
                            <div class="item active">
                                <img ng-src="//converbiz-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{campaignproducts[0].productimage}}" style="width: 100%; height: 100px">
                                <div class="carousel-caption" align="center" style="width: 50%; height: 100px">
                                    <h4 style="color:#0040ff" data-ng-init="product = getProduct(campaignproduct.productid)"> {{ product[0].name }}</h4>
                                    <h4 align="center" style="color:#0040ff">Price: {{campaignproducts[0].presentprice}}</h4>
                                </div>
                            </div>

                            <div ng-repeat="campaignproduct in campaignproducts" class="item" ng-if="!first">
                                <img ng-src="//converbiz-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{campaignproduct.productimage}}" style="width: 100%; height: 100px">
                                <div class="carousel-caption" align="center" style="width: 100%; height: 100px">
                                    <h4 style="color:#0040ff" data-ng-init="product = getProduct(campaignproduct.productid)"> {{ product.name }}</h4>
                                    <h4 style="color:#0040ff">Price: {{campaignproduct.presentprice}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a> width="150" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth"-->
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        // Activate Carousel
                        $("#myCarousel").carousel();

                        // Enable Carousel Indicators
                        $(".item").click(function() {
                            $("#myCarousel").carousel($index);
                        });
                    });

                </script>

                <br>
                <div style="width:100%; height: auto; background-color:#2E5C8A;text-align:center; padding-top:00px">
                    <span style="color:white">share with your friends</span>&nbsp; &nbsp;<img src="images/share-icon.png" style="width:30px;height:30px">
                </div>

                <div style="width:100%; height:auto; background-color:#2E5C8A; padding:00px">
                    <div style="width:100%; height:50px; background-color:white; line-height:50px; text-align:center">
                        <!--<div style="display:inline;" ng-Click="sendyoutube()">-->
                        <a href="http://www.youtube.com/watch?v=Nu9pt9QG4gA" target="_blank">
                            <div style="display:inline">
                                <img src="images/Youtube-icon.png" style="width:38px; height:38px">
                            </div>
                        </a>

                        <div style="display:inline" ng-click="sendfacebook()">
                            <img src="images/fb-icon.png" style="width:40px; height:40px">
                        </div>
                        <!--<a href="https://www.facebook.com/Converbiz/?fref=ts" target="_blank">
                              <div style="display:inline;">
                            <img src="images/fb-icon.png" style="width:40px; height:40px;" />
                        </div>
                        </a>-->
                        <!--<div style="display:inline;" ng-Click="sendtwitter()">
                            <img src="images/twitter-icon.png" style="width:40px; height:40px;" />
                        </div>-->

                        <div style="display:inline" ng-click="mail()">
                            <img src="images/mail-icon.png" style="width:40px; height:40px">
                        </div>
                        <div style="display:inline" ng-click="watsapp()">
                            <img src="images/whatsapp-icon.png" style="width:40px; height:40px">
                        </div>
                        <div style="display:inline" ng-click="message()">
                            <img src="images/messege-icon.png" style="width:40px; height:40px">
                        </div>
                    </div>
                </div>

                <!--  <form role="form">
                    <div class="form-group">
                        <label style="color:black;">Your Name:</label>
                        <input type="text" class="form-control" ng-model="tempcampaign.username" />
                    </div>

                    <div class="form-group" style="margin-top: -10px;">
                        <label style="color:black;">Phone Number:</label>
                        <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only" />
                    </div>
                    <div>
                        <button data-ng-click="submit()" type="submit" class="btn btn-success" ng-disabled="Submitted" style="width:100%;">Submit</button>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------MObile----------------------------------------------------->
<!--        <div class="mobile">   overflow-y:auto; overflow-x:hidden; z-index:1;  -->
<div class="mobile" ng-hide="mobact">
    <div style="background: #2E5C8A; height:360px; border: 2px; solid grey; margin-left: 00px; margin-top:00px; position:relative;height:768px; padding:2px">
        <div align="center">
            <h4 style="padding-bottom: 2px; color:white"> {{ campName }}</h4>
        </div>

        <div>
            <video id="videodisplay" controls="controls" width="100%" height="auto" ng-src="{{trustSrc(generateURL(campRes.videoname))}}"></video>
        </div>
        <br>

        <div id="preview" style="width: 100%; height: 150px">
            <img id="image" ng-src="//converbiz-coke-api.herokuapp.com/api/v1/containers/mbrimages/download/{{campRes.imagename}}" style="width:100%; height: 100%">
        </div>
        <!--------------------------------------------------------------->

        <div style="width: 100%;padding: 10px">
            <table class="table table-bordered" style="border:1px solid #000;background:white;margin-bottom:0px">
                <tr>
                    <td style="border:1px solid #808080">
                        <!--<p style="margin:0; padding:0; text-align: center;">{{CampMessage}}</p>-->
                        <div align="center">
                            <!-- <button type="submit" class="btn btn-success btn-sm btn-flat" ng-click="toggleModalMisCal()" style="margin:0; padding:0; text-align: left;">Callback</button>-->
                            <div style="cursor:pointer; margin:0; padding:0; text-align: center" ng-click="toggleModalMisCal()">CALLBACK</div>
                        </div>
                    </td>
                    <td style="border:1px solid #808080">
                        <div align="center">
                            <!-- <button class="btn btn-success btn-sm btn-flat" style="margin:0; padding:0; text-align: left;">{{dispalycallOfAction}}</button>-->
                            <button type="submit" class="btn btn-success btn-sm btn-flat" ng-click="toggleModalChat()" style="margin:0; padding:0; text-align: left">{{dispalycallOfAction}}</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container" class="form-control" style="width: 100%; height: 120px" style="background: #f8fafb">
            <br>
            <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="2000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="{{$index}}" ng-repeat="campaignproduct in campaignproducts" ng-class="{active:$first}"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" style="background: #f8fafb">
                    <div class="item active">
                        <img ng-src="//converbiz-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{campaignproducts[0].productimage}}" style="width: 100%; height: 100px">
                        <div class="carousel-caption" align="center" style="width: 50%; height: 100px">
                            <h4 style="color:#0040ff" data-ng-init="product = getProduct(campaignproduct.productid)"> {{ product[0].name }}</h4>
                            <h4 align="center" style="color:#0040ff">Price: {{campaignproducts[0].presentprice}}</h4>
                        </div>
                    </div>

                    <div ng-repeat="campaignproduct in campaignproducts" class="item" ng-if="!first">
                        <img ng-src="//converbiz-ss-api.herokuapp.com/api/v1/containers/cokevideotraining/download/{{campaignproduct.productimage}}" style="width: 100%; height: 100px">
                        <div class="carousel-caption" align="center" style="width: 100%; height: 100px">
                            <h4 style="color:#0040ff" data-ng-init="product = getProduct(campaignproduct.productid)"> {{ product.name }}</h4>
                            <h4 style="color:#0040ff">Price: {{campaignproduct.presentprice}}</h4>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a> width="150" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidth"-->
            </div>
        </div>
        <script>
            $(document).ready(function() {
                // Activate Carousel
                $("#myCarousel1").carousel();

                // Enable Carousel Indicators
                $(".item").click(function() {
                    $("#myCarousel1").carousel($index);
                });
            });

        </script>

        <br>
        <div style="width:100%; height: auto; background-color:#2E5C8A;text-align:center; padding-top:00px">
            <span style="color:white">share with your friends</span>&nbsp; &nbsp;<img src="images/share-icon.png" style="width:30px;height:30px">
        </div>

        <div style="width:100%; height:auto; background-color:#2E5C8A; padding:00px">
            <div style="width:100%; height:50px; background-color:white; line-height:50px; text-align:center">
                <!--<div style="display:inline;" ng-Click="sendyoutube()">-->
                <a href="http://www.youtube.com/watch?v=Nu9pt9QG4gA" target="_blank">
                    <div style="display:inline">
                        <img src="images/Youtube-icon.png" style="width:38px; height:38px">
                    </div>
                </a>
                <div style="display:inline" ng-click="sendfacebook()">
                    <img src="images/fb-icon.png" style="width:40px; height:40px">
                </div>
                <!--<a href="https://www.facebook.com/Converbiz/?fref=ts" target="_blank">
                              <div style="display:inline;">
                            <img src="images/fb-icon.png" style="width:40px; height:40px;" />
                        </div>
                        </a>-->
                
                <div style="display:inline" ng-click="mail()">
                    <img src="images/mail-icon.png" style="width:40px; height:40px">
                </div>
                <div style="display:inline" ng-click="watsapp()">
                    <img src="images/whatsapp-icon.png" style="width:40px; height:40px">
                </div>
                <div style="display:inline" ng-click="message()">
                    <img src="images/messege-icon.png" style="width:40px; height:40px">
                </div>
            </div>
        </div>

        <!-- <form role="form">
            <div class="form-group">
                <label style="color:black;">Your Name:</label>
                <input type="text" class="form-control" ng-model="tempcampaign.username" />
            </div>

            <div class="form-group" style="margin-top: -10px;">
                <label style="color:black;">Phone Number:</label>
                <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only" />
            </div>
            <div>
                <button data-ng-click="submit()" type="submit" class="btn btn-success" ng-disabled="Submitted" style="width:100%;">Submit</button>
            </div>
        </form>-->
    </div>
</div>
<!-------------------------callback model----------------------------------->
<cart title="Callback" visible="showModalMisCal">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal">Name:</label>
            <input ng-model="missedcall[0].partnername" type="text" class="form-control" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">Mobile:</label>
            <input ng-model="missedcall[0].partnermobile" type="text" class="form-control" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">E-mail:</label>
            <input ng-model="missedcall[0].partneremail" type="text" class="form-control" style="height: 30px">
        </div>
    </div>

    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitmissedcall()">Submit</button>
    </div>

</cart>

<!--------------------------------------End------------------------------------------------>
<!-------------------------CONTACT_US model----------------------------------->
<cart title="Contact_Us" visible="showModalChat">

    <div>
        <div>
            <label style="color:black">Your Name:</label>
            <input type="text" class="form-control" ng-model="tempcampaign.username">
        </div>
        <br>
        <div class="form-group" style="margin-top: -10px">
            <label style="color:black">Phone Number:</label>
            <input type="text" class="form-control" ng-model="tempcampaign.mobile" maxlength="10" numbers-only="numbers-only">
        </div>
    </div>
    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitcontactus()" ng-disabled="ContactUs">Submit</button>
    </div>
    <!---  ng-disabled="ContactUs"-->

</cart>
<!-------------------------------------------------------------------------------->
<!-------------------------SHOP_NOW model----------------------------------->
<cart title="Shop_Now" visible="showModalChat1">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal">Name:</label>
            <input ng-model="opportunity[0].opportunityname" type="text" class="form-control" style="height: 30px">
        </div>

        <!--<div>
            <label style="font-size:14px; font-weight: normal;">Mobile:</label>
            <input ng-model="opportunity[0].partnermobile" type="text" class="form-control" style="height: 30px;" />
        </div>-->

    </div>
    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submitopportunity()" ng-disabled="Shopnow">Submit</button>
    </div>

</cart>
<!-------------------------------------------------------------------------------->
<!-------------------------CALL_NOW model----------------------------------->
<cart title="Call_now" visible="showModalChat2">
    <div>
        <div>
            <label style="font-size:14px; font-weight: normal">Name:</label>
            <input ng-model="missedcall[0].partnername" type="text" class="form-control" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">Mobile:</label>
            <input ng-model="missedcall[0].partnermobile" type="text" class="form-control" style="height: 30px">
        </div>

        <div>
            <label style="font-size:14px; font-weight: normal">E-mail:</label>
            <input ng-model="missedcall[0].partneremail" type="text" class="form-control" style="height: 30px">
        </div>
    </div>
    <br>

    <div align="center">
        <button type="submit" class="btn btn-success btn-sm" ng-click="submit()" ng-disabled="Callnow">Submit</button>
    </div>

</cart>
<!-------------------------------------------------------------------------------->