/*****************************************************/
/* [BASELINE] Styles for the slide viewer and arrows */

.slide-viewer * {
	margin: 0;
}

.slide-viewer {
	margin-top: 25px;
	height: 200px;
	text-align: center;
	width 100%;
	background: transparent;
	position: relative;
}

.slide-viewer p {
	text-align: center;
}

.slide-viewer img {
	width: 100%;
    height: 100%;
}
/* [CONTROLS - IMAGES] Set the background images for the controls (sprite based) */

.leftarrow,
.rightarrow,
.smpt,
.ctrl-btn.play:hover,
.ctrl-btn.pause:hover {
	background: url("images/sprite.png") no-repeat;
}

.ctrl-btn.play,
.ctrl-btn.pause {
	background: rgba(255, 255, 255, 0.4) url("images/sprite.png") no-repeat;
}

.ctrl-pin {
	background: url("images/sprite.png") no-repeat;
}

.ctrl-btn.pause,
.ctrl-btn.pause:hover {
	background-position: -544px -32px;
}

.ctrl-btn.play,
.ctrl-btn.play:hover {
	background-position: -544px 0;
}

.leftarrow {
	background-position: 0 0;
}

.leftarrow:hover {
	background-position: -256px 0;
}

.rightarrow {
	background-position: -128px 0;
}

.rightarrow:hover {
	background-position: -384px 0;
}

.ctrl-pin {
	background-position: -512px 0;
}

.ctrl-pin.active,
.ctrl-pin.active:hover {
	background-position: -512px -64px;
}

.ctrl-pin:hover {
	background-position: -512px -32px;
}
/* [CONTROLS - FONT] Font based controls in the slide viewer.
 * Credit for the fonts goes to fontello: www.fontello.com
 */

@font-face {
	font-family: 'fontello';
	src: url('font/fontello.eot?34374329');
	src: url('font/fontello.eot?34374329#iefix') format('embedded-opentype'), url('font/fontello.woff?34374329') format('woff'), url('font/fontello.ttf?34374329') format('truetype'), url('font/fontello.svg?34374329#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}

.icon-rightarrow:before {
	content: '\e800';
}

.icon-leftarrow:before {
	content: '\e801';
}

.icon-ctrl-btn.play:before {
	content: '\e808';
}

.icon-ctrl-btn.pause:before {
	content: '\e804';
}

.icon-ctrl-pin:before {
	content: '\e80f';
}

.icon-ctrl-pin.active:before {
	content: '\e80e';
}

.icon-rightarrow1:before {
	content: '\e802';
}

.icon-leftarrow1:before {
	content: '\e803';
}

.icon-ctrl-btn1.pause:before {
	content: '\e805';
}

.icon-ctrl-btn1.play:before {
	content: '\e809';
}

.icon-ctrl-pin1:before {
	content: '\e80f';
}

.icon-ctrl-pin1.active:before {
	content: '\e80e';
}

.icon-rightarrow2:before {
	content: '\e811';
}

.icon-leftarrow2:before {
	content: '\e810';
}

.icon-ctrl-btn2.pause:before {
	content: '\e806';
}

.icon-ctrl-btn2.play:before {
	content: '\e80b';
}

.icon-ctrl-pin2:before {
	content: '\e80f';
}

.icon-ctrl-pin2.active:before {
	content: '\e80e';
}
/*.icon-spin5:before { content: '\e807'; }*/
/*.icon-play-circle2:before { content: '\e80a'; }*/
/*.icon-pause-3:before { content: '\e80c'; }*/
/*.icon-stop:before { content: '\e80d'; }*/
/* [FONT ICON SIZES] Change the size + color on these next few to override controls */

.icon-lg-ctrl {
	color: #4D8BFF;
	font-size: 100px;
}

.icon-sm-ctrl {
	color: #4D8BFF;
	font-size: 20px;
}

.icon-lg-ctrl:hover,
.icon-sm-ctrl:hover {
	color: #B3CDFF;
}
/* [CONTROLS] Position and style the controls on the slide viewer */

.rightarrow,
.leftarrow {
	height: 128px;
	width: 128px;
}

.rightarrow,
.icon-rightarrow,
.icon-rightarrow1,
.icon-rightarrow2,
.leftarrow,
.icon-leftarrow,
.icon-leftarrow1,
.icon-leftarrow2 {
	top: 186px;
	position: absolute;
	z-index: 100;
}

.rightarrow,
.icon-rightarrow,
.icon-rightarrow1,
.icon-rightarrow2 {
	right: 5px;
}

.leftarrow,
.icon-leftarrow,
.icon-leftarrow1,
.icon-leftarrow2 {
	left: 5px;
}

.ctrl-btn.play,
.ctrl-btn.pause,
.icon-ctrl-btn.play,
.icon-ctrl-btn.pause,
.icon-ctrl-btn1.play,
.icon-ctrl-btn1.pause,
.icon-ctrl-btn2.play,
.icon-ctrl-btn2.pause {
	position: absolute;
	bottom: 20px;
	left: 10px;
	z-index: 100;
}

.ctrl-btn.play,
.ctrl-btn.pause {
	border-radius: 5px;
	border: 3px solid #000;
	width: 38px;
	height: 38px;
}

.ctrl-pin,
.icon-ctrl-pin,
.icon-ctrl-pin1,
.icon-ctrl-pin2 {
	display: inline-block;
	cursor: pointer;
}

.ctrl-pin {
	width: 32px;
	height: 32px;
}

.pin-container {
	left: 50px;
	text-align: center;
	bottom: 20px;
	position: absolute;
	z-index: 100;
}

.pin-container.filled {
	border: 2px solid #000;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
}
/* [HELPERS] Assorted styles to help in creating slides */

.right-bar-heading {
	right: 0;
	position: absolute;
	background: #C0C0C0;
	opacity: 0.75;
	filter: alpha(opacity=75);
	padding: 45px;
	margin-top: 25px;
}

.full-width-heading {
	/*right: 35px;*/
	position: absolute;
	/*background: #C0C0C0;
	opacity: 0.75;
	filter: alpha(opacity=75);*/
	/*padding: 25px;
	margin-top: 25px;*/
	top: -0;
	/*left: 35px;*/
}

.slide-image img {
	max-width: 100%;
	position: absolute;
	bottom: -75px;
	left: 0;
}

.viewer-selected-area .viewer-image {
	display: none;
}