::selection {
    background: rgba(0, 0, 255, 0.3);
}

::-moz-selection {
    background: rgba(0, 0, 255, 0.3);
}

pdf-viewer {
    display: block;
}

pdf-viewer .page {
    position: relative;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 10px #666666;
    ;
    background-color: #ffffff;
}

pdf-viewer .text-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 1000px;
}

pdf-viewer .text-layer > div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

pdf-viewer .text-layer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: rgba(180, 0, 170, 0.2);
    border-radius: 4px;
}

pdf-viewer .text-layer .highlight.begin {
    border-radius: 4px 0px 0px 4px;
}

pdf-viewer .text-layer .highlight.end {
    border-radius: 0px 4px 4px 0px;
}

pdf-viewer .text-layer .highlight.middle {
    border-radius: 0px;
}

pdf-viewer .text-layer .highlight.selected {
    background-color: rgba(0, 100, 0, 0.2);
}

pdf-viewer .page .annotLink > a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

pdf-viewer .page .annotLink > a:hover {
    background-color: rgba(255, 255, 0, 0.25);
}

pdf-viewer .page .annotText > img {
    position: absolute;
    cursor: pointer;
}

pdf-viewer .page .annotTextContentWrapper {
    position: absolute;
    width: 20em;
}

pdf-viewer .page .annotTextContent {
    z-index: 200;
    float: left;
    max-width: 20em;
    background-color: #FFFF99;
    box-shadow: 0px 2px 5px #333;
    border-radius: 2px;
    padding: 0.6em;
    cursor: pointer;
}

pdf-viewer .page .annotTextContent > h1 {
    font-size: 1em;
    border-bottom: 1px solid #000000;
    padding-bottom: 0.2em;
}

pdf-viewer .page .annotTextContent > p {
    padding-top: 0.2em;
}